{% extends '@PlateForme/layout.html.twig' %}


{% block body %}

    <div class="slider">
        <ul class="slides">
            {% for event in agenda %}
                <li>
                    {% if event.image != null %}
                        <img src="{{ asset(event.image.path) }}" alt="{{ event.image.alt }}"/></a>
                    {% endif %}
                    <div class="caption center-align">
                        <h3>{{ event.titre }}</h3>
                        <h5 class="light grey-text text-lighten-3">{{ event.lieu }}</h5>
                    </div>
                </li>
            {% endfor %}
            {% for article in articles %}
                <li>
                    <img src="{{ asset(article.medias[0].path) }}" alt="{{ article.medias[0].alt }}"/></a>
                    <div class="caption center-align">
                        <h3>{{ article.title.translation('fr') }}</h3>
                        <h5 class="light grey-text text-lighten-3"></h5>
                    </div>
                </li>
            {% endfor %}

        </ul>
        <ul>
            <li class="slider admin">
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('plate_forme_homepage') }}" title="Editer le slider">
                    <span class="fa-stack fa-2x">
                      <i class="fa fa-circle fa-stack-2x icon-background2"></i>
                      <i class="fa fa-pencil fa-stack-1x"></i>
                    </span>
                    </a>
                {% endif %}
            </li>
        </ul>

    </div>

{#----------------------------------------------- INCLUDE DU CALENDAR ------------------------------------------------#}

    <div class="container">
        <div class="row">
            <div class="col s12 offset-m2 m8 l6">
                {# ACTUALITE DE L'ESPACE D'ECHANGE #}
                {{ render(controller('ForumBundle:Post:showLastPostHomepage')) }}
            </div>
            <div class="col s12 offset-m1 m10 l6">
                {# AFFICHAGE DU CALENDRIER #}
                <div class="calendar-position">
                    {% include '@Calendar/fullcalendar/views/agenda-views.html.twig' %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}



{% block javascripts %}

    {{ parent() }}

    {# INITIALISATION DU SLIDER #}
    <script>
        $(document).ready(function(){
            $('.slider').slider({full_width: true});
        });
    </script>

    {# FOS JS ROUTING SCRIPT #}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    {# SCRIPT DES ROLES POUR ADMINISTRATION #}
    <script>
        {% if is_granted('ROLE_ADMIN') %}
        var role = 'admin';
        {% else %}
        var role = null;
        {% endif %}
    </script>

    {# APPEL DES SCRIPTS CALENDAR #}
    <script src="{{ asset('bundles/calendar/js/calendar/moment.min.js') }}"></script>
    <script src="{{ asset('bundles/calendar/js/calendar/fullcalendar.js') }}"></script>
    <script src="{{ asset('bundles/calendar/js/main_calendar.js') }}"></script>
    <script src="{{ asset('bundles/calendar/js/calendar/calendar-events.js') }}"></script>
{% endblock %}