{% extends '@PlateForme/Default/basePlateforme.html.twig' %}

{% block header %}
    <header>
        <!-- Dropdown Structure -->
        <nav>
            <div class="nav-wrapper-plateforme">

                <ul class="left hide-on-med-and-down">
                    <li>
                    <a class="plateforme-logo" href="{{ path('plate_forme_homepage') }}">
                        <img id="plateforme-logo" src="{{ asset('bundles/haras/images/logo.png') }}" alt="logo">
                    </a>
                    </li>

                    <li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('user_index') }}" title="Liste des utilisateurs">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x icon-background5"></i>
                                <i class="fa fa-users fa-stack-1x"></i>
                            </span>
                                    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                            </a>
                        {% elseif is_granted('ROLE_MODERATEUR') %}
                            <a href="{{ path('categorieplateforme_index') }}" title="Moderation du forum">
                        <span class="fa-stack fa-2x">
                            <i class="fa fa-circle fa-stack-2x icon-background5"></i>
                            <i class="fa fa-pencil fa-stack-1x"></i>
                        </span>
                                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} | Moderateur
                            </a>
                        {% endif %}
                    </li>
                </ul>

                <ul class="right hide-on-med-and-down">

                    <li><a href="sass.html">
                        <span class="fa-stack fa-2x">
                            <i class="fa fa-circle fa-stack-2x icon-background1"></i>
                            <i class="fa fa-bell-o fa-stack-1x"></i>
                        </span>
                        </a>
                    </li>
                    <li><a href="{{ path('post_index') }}">
                        <span class="fa-stack fa-2x">
                            <i class="fa fa-circle fa-stack-2x icon-background2"></i>
                            <i class="fa fa-pencil fa-stack-1x"></i>
                        </span>
                        </a>
                    </li>

                    </li>
                    <li><a href="{{ path('agenda') }}">
                        <span class="fa-stack fa-2x">
                            <i class="fa fa-circle fa-stack-2x icon-background3"></i>
                            <i class="fa fa-calendar fa-stack-1x"></i>
                        </span>
                        </a>
                    </li>

                    <li><a class="dropdown-button" href="{{ path('fos_user_profile_show') }}" data-activates="dropdown2">
                        <span class="fa-stack fa-2x">
                            <i class="fa fa-circle fa-stack-2x icon-background4"></i>
                            <i class="fa fa-user fa-stack-1x"></i>
                        </span>
                        </a>
                    </li>
                    <ul id="dropdown2" class="dropdown-content">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            {#{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |#}

                            <li><a href="{{ path('fos_user_profile_show') }}">Voir mon profil</a></li>
                            <li><a href="{{ path('fos_user_security_logout') }}">Se deconnecter</a></li>
                        {% else %}
                            <li><a href="{{ path('fos_user_registration_register') }}">Créer un compte</a></li>
                            <li><a href="{{ path('fos_user_security_login') }}">Se connecter</a></li>
                        {% endif %}
                    </ul>
                </ul>
            </div>
        </nav>

        <nav class="navbar2">

            <ul class="left hide-on-med-and-down-navbarleft">
                <li class="active philosophie"><a href="{{ path('philosophie_show') }}">Notre philosophie</a></li>
                <li class="decouverte"><a href="{{ path('post_index') }}">Découverte</a></li>
                <li class="haras"><a href="{{ path('post_index') }}">Le haras</a></li>
                <li class="detente"><a href="{{ path('post_index') }}">Détente</a></li>
                <li class="coworking"><a href="{{ path('post_index') }}">Espace de co-working</a></li>
            </ul>

            <ul class="right hide-on-med-and-dow">
                <li>
                    <form action="{{ path('plate_forme_searchController') }}" method="Post">
                    <form action="#" method="Post">
                        <div class="input-field">
                            <input name="requete" id="search" type="search" required>
                            <label for="search">
                                <i class="material-icons">search</i>
                            </label>
                        </div>
                    </form>
                </li>
            </ul>

        </nav>

    </header>
{% endblock %}

{% block footer %}
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">A propos</h5>
                    <p class="grey-text text-lighten-4">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus assumenda est molestiae repellat sequi tempore, temporibus. Amet facilis laborum molestias officiis recusandae ut voluptates. Ducimus molestias, nemo? Blanditiis, excepturi unde!
                    </p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Contacter la plateforme</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Mail</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Téléphone</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2017 Haras de la metamorphose
            </div>
        </div>
    </footer>
{% endblock %}