{% extends '@PlateForme/Default/basePlateforme.html.twig' %}

{% block header %}
    <header>
        <!-- Dropdown Structure -->
        <nav>

            <div class="nav-wrapper">
                <a class="header-logo" href="{{ path('plate_forme_homepage') }}"><img id="logo" src="{{ asset('bundles/haras/images/logo.png') }}" alt="logo"></a>
                    <ul class="right hide-on-med-and-down">
                    <li><a class="brand-logo center" href="sass.html"><i class="fa fa-search fa-2x" aria-hidden="true"></i></a></li>
                    <li><a href="sass.html"><i class="fa fa-bell-o fa-3x" aria-hidden="true"></i></a></li>
                    <li><a href="sass.html"><i class="fa fa-pencil fa-3x" aria-hidden="true"></i></a></li>
                    <li><a href="{{ path('agenda') }}"><i class="fa fa-calendar fa-3x" aria-hidden="true"></i></a></li>
                    <!-- Dropdown Trigger -->
                    <li><a class="dropdown-button" href="{{ path('fos_user_profile_show') }}" data-activates="dropdown1"><i class="fa fa-user fa-3x"></i></a></li>
                    <ul id="dropdown1" class="dropdown-content">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                            <li><a href="{{ path('fos_user_profile_show') }}">Voir mon profil</a></li>
                            <li><a href="{{ path('fos_user_security_logout') }}">Se deconnecter</a></li>
                        {% else %}
                            <li><a href="{{ path('fos_user_registration_register') }}">Créer un compte</a></li>
                            <li><a href="{{ path('fos_user_security_login') }}">Se connecter</a></li>
                        {% endif %}
                    </ul>
                </ul>
            </div>
        </nav>

        <nav class="navbar2">
            <div class="nav-wrapper">
                <ul class="left hide-on-med-and-down">
                    <li class="active"><a href="sass.html">Notre philosophie</a></li>
                    <li class="decouverte"><a href="badges.html">Découverte</a></li>
                    <li class="harras"><a href="badges.html">Le harras</a></li>
                    <li class="detente"><a href="badges.html">Détente</a></li>
                    <li class="coworking"><a href="badges.html">Espace de co-working</a></li>
                </ul>
            </div>
        </nav>

    </header>
{% endblock %}

{% block body %}
{% endblock %}


{% block footer %}{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script>

    </script>

{% endblock %}