{% extends '@PlateForme/layout.html.twig' %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('bundles/haras/styles/stylesheets/calendar/fullcalendar.print.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/haras/styles/stylesheets/calendar/calendar_main.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="">
            <a href="{{ path('agenda_new') }}">Nouvelle évènement</a>
        </div>
        <div class="row">
            <div class="col s12"></div>
                <div id='calendar'></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        {% if is_granted('ROLE_ADMIN') %}
        var role = 'admin';
        {% elseif is_granted('ROLE_USER') %}
        var role = 'user';
        {% else %}
        var role = null;
        {% endif %}
    </script>
    <script src="{{ asset('bundles/haras/scripts/calendar/moment.min.js') }}"></script>
    <script src="{{ asset('bundles/haras/scripts/calendar/fullcalendar.min.js') }}"></script>
    <script src="{{ asset('bundles/haras/scripts/calendar/calendar-events.js') }}"></script>
{% endblock %}

