{% extends '@PlateForme/layout.html.twig' %}
{% block body %}

<div class="container center" id="user_list_model">

    <h2>Liste des utilisateurs</h2>
    <div class="boutons-haut">
        <a href="{{ path('user_showInactiveUser') }}">
            <button class="user btn-floating btn-large waves-effect tooltipped icon-background6" type="submit" name="action"
                    data-position="bottom"
                    data-delay="50"
                    data-tooltip="Liste des utilisateurs inactivés">
                <i class="material-icons">lock_outline</i>
            </button>
        </a>
        <a href="{{ path('plate_forme_homepage') }}">
            <button class="user btn-floating btn-large waves-effect tooltipped icon-background6" type="submit" name="action"
                    data-position="bottom"
                    data-delay="50"
                    data-tooltip="Accueil">
                <i class="material-icons">home</i>
            </button>
        </a>
        <a href="{{ path('user_export_csv') }}">
            <button class="user btn-floating btn-large waves-effect tooltipped icon-background6" type="submit" name="action"
                    data-position="bottom"
                    data-delay="50"
                    data-tooltip="Exporter la liste">
                <i class="material-icons">description</i>
            </button>
        </a>
    </div>

    <table class="responsive-table bordered striped" id="table_id">
            <thead>
            <tr>
                <th>Avatar</th>
                <th>Id</th>
                <th>Username</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Profession</th>
                <th>Nbpost</th>
                {#<th>Role</th>#}
                <th>Editer</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td><img class="circle responsive-img" src="{{ user.photo ? asset(user.photo.path) }}"></td>
                    <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.nom }}</td>
                    <td>{{ user.prenom }}</td>
                    <td>{{ user.profession|raw }}</td>
                    <td>{{ user.nbPost|raw }}</td>

                    <td class="boutons_user">
                        <div class="boutons">
                            <a href="{{ path('user_show', { 'id': user.id }) }}">
                                <button class="user btn-floating btn-large waves-effect tooltipped icon-background4" type="submit" name="action"
                                        data-position="bottom"
                                        data-delay="50"
                                        data-tooltip="Afficher">
                                    <i class="material-icons">remove_red_eye</i>
                                </button>
                            </a>
                            <a href="{{ path('user_edit', { 'id': user.id }) }}">
                                <button class="user btn-floating btn-large waves-effect tooltipped icon-background4" type="submit" name="action"
                                        data-position="bottom"
                                        data-delay="50"
                                        data-tooltip="Editer">
                                    <i class="material-icons">edit</i>
                                </button>
                            </a>
                            <a href="{{ path('user_desactive', {'id': user.id})}}">
                                <button class="user btn-floating btn-large waves-effect tooltipped icon-background4" type="submit" name="action"
                                        data-position="bottom"
                                        data-delay="50"
                                        data-tooltip="Désactiver">
                                    <i class="material-icons">lock_outline</i>
                                </button>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
</div>
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script>
        $(document).ready( function () {
            $('#table_id').DataTable({
                "dom": '<lf<t>ip>',
                "pageLength": 10,
                "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                "language": {
                    "sProcessing":     "Traitement en cours...",
                    "sSearch":         "Rechercher&nbsp;:",
                    "sLengthMenu":     "Afficher _MENU_ &eacute;l&eacute;ments",
                    "sInfo":           "Affichage de l'&eacute;l&eacute;ment _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                    "sInfoEmpty":      "Affichage de l'&eacute;l&eacute;ment 0 &agrave; 0 sur 0 &eacute;l&eacute;ment",
                    "sInfoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                    "sInfoPostFix":    "",
                    "sLoadingRecords": "Chargement en cours...",
                    "sZeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
                    "sEmptyTable":     "Aucune donn&eacute;e disponible dans le tableau",
                    "oPaginate": {
                        "sFirst":      "Premier",
                        "sPrevious":   "Pr&eacute;c&eacute;dent",
                        "sNext":       "Suivant",
                        "sLast":       "Dernier"
                    },
                    "oAria": {
                        "sSortAscending":  ": activer pour trier la colonne par ordre croissant",
                        "sSortDescending": ": activer pour trier la colonne par ordre d&eacute;croissant"
                    }
                }}
            );
        } );
    </script>

    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>

    {#<script>#}
    {#$(document).ready(function() {#}
        {#$('select').material_select();#}
    {#});#}
    {#</script>#}


{% endblock %}