{% trans_default_domain 'FOSUserBundle' %}


<div class="container center" id="registermodel">
    <div class="col m8 offset-m2">
        <h2 class="Compte">Créer un compte</h2>
        <div class="row">

            {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

            <div class="row input-field">
                {{ form_label(form.nom, 'Nom') }}
                {{ form_widget(form.nom, {'attr':{'class':'nom form'}}) }}
                {{ form_errors(form.nom) }}
            </div>

            <div class="row input-field">
                {{ form_label(form.prenom, 'Prénom') }}
                {{ form_widget(form.prenom, {'attr':{'class':'prenom form'}}) }}
                {{ form_errors(form.prenom) }}
            </div>

            <div class="row input-field">
                {{ form_label(form.username, 'Pseudo') }}
                {{ form_widget(form.username, {'attr':{'class':'username form'}}) }}
                {{ form_errors(form.username) }}
            </div>

            <div class="row input-field">
                {{ form_label(form.profession, 'Profession') }}
                {{ form_widget(form.profession, {'attr':{'class':'profession form'}}) }}
                {{ form_errors(form.profession) }}
            </div>

            <div class="row input-field">
                {{ form_label(form.email, 'E-mail') }}
                {{ form_widget(form.email, {'attr':{'class':'email form'}}) }}
                {{ form_errors(form.email) }}
            </div>

            <div class="row input-field">
                {{ form_label(form.plainPassword.first, 'Mot de passe') }}
                {{ form_widget(form.plainPassword.first, {'attr':{'class':'password form'}}) }}
                {{ form_errors(form.plainPassword.first) }}
            </div>

            <div class="row input-field">
                {{ form_label(form.plainPassword.first, 'Confirmation mot de passe') }}
                {{ form_widget(form.plainPassword.second, {'attr':{'class':'confirm form'}}) }}
                {{ form_errors(form.plainPassword.second) }}
            </div>

            <div class="row input-field">
                {{ form_widget(form.newsletter, {'attr':{'class':'newsletter form'}}) }}
                {#<label for="newsletter">Inscription newsletter ?</label>#}
                <input type="checkbox" id="newsletter" name="newsletter"/>
                <label for="newsletter">
                {{ form_label(form.newsletter, 'Inscription newsletter ?') }}
                {{ form_errors(form.newsletter) }}
            </div>

            {#<div class="row input-field">#}
                {#{{ form_widget(form.add_block) }}#}
                {#<label for="modele_add_block">Ajouter à l'accueil</label>#}
                {#{{ form_errors(form.add_block) }}#}
            {#</div>#}

            {###########"Affichage image uploadée#######}
            <div class="col l4 m4 s12 center">
                {# Affichage de l'image sélectionnée #}
                <img class="hide" id="blah" src="#" alt="your image" />
                {# Image enregistrées en base de données#}
                <img id="imageBdD" class="responsive-img thumbs" src="#" alt="">
            </div>

            <div class="row input-field">
                <div class="file-field input-field">
                    <div class="btn">
                        <span>Photo</span>
                        <input type="file">
                        {{ form_widget(form.photo.file, {'attr':{'class':'photo form'}}) }}
                        {{ form_errors(form.photo.file) }}
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>
            </div>
        </div>
        <div class="button-register">
            <button class="btn waves-effect waves-light btn-login" type="submit" name="action"
                    value="{{ 'registration.submit'|trans }}">S'enregistrer
                <i class="material-icons right">send</i>
            </button>

            <a href="{{ path('plate_forme_homepage') }}">
                <button class="btn waves-effect waves-light btn-login" type="submit" name="action">Retour
                    <i class="material-icons right">send</i>
                </button>
            </a>
        </div>
        {{ form_end(form) }}

    </div>
</div>
</div>
