{% extends '@PlateForme/layout.html.twig' %}

{% block body %}
    {#-------------------------------------------------------------#}
    {# NavBar Lateral  #}
    {{ include("@Forum/post/postNavBar.html.twig") }}
    {# fin NavBar lateral #}
    {#-------------------------------------------------------------#}
<section class="postSectionIndex">
    <div class="postContainer postAdmin">
        <h1>Edition des messages</h1>
        {{ form_start(edit_form) }}
        <div class="col l6 m6 s12">
            <div class="row input-field">
                {{ form_label(edit_form.titre) }}
                {{ form_widget(edit_form.titre) }}
                {{ form_errors(edit_form.titre) }}
            </div>
        </div>
        <div class="col l6 m6 s12">
            {{ form_label(edit_form.contenu) }}
            {{ form_widget(edit_form.contenu|raw) }}
            {{ form_errors(edit_form.contenu) }}
        </div>
        {# **********************************#}
        {# Boutons fin de Form               #}
        {# **********************************#}
        <div class="row center">
            <button class="btn-floating btn-large waves-effect waves-light green darken-1"
                    type="submit"
                    title="Valider">
                <i class="material-icons">check</i>
            </button>
        </div>
        <div class="row center">
            {# Retour vers page de tous les commentaires#}
            {%  if post.parent.id is not defined %}
                {# Gestion postParent, si post parent l'id de retour = id du post #}
                <a class="btn-floating btn-large waves-effect waves-light blue darken-1"
                   href="{{ path('post_showAllPost', { 'id': post.id}) }}">
                    <i class="small material-icons">home</i>
                </a>

            {% else %}
                {# Gestion postEnfant, si post enfant l'id de retour = id du post du parent #}
                <a class="btn-floating btn-large waves-effect waves-light blue darken-1"
                   href="{{ path('post_showAllPost', { 'id': post.parent.id}) }}">
                    <i class="small material-icons">home</i>
                </a>
            {% endif %}

            {# Désactiver #}
            <a class="btn-floating btn-large waves-effect waves-light blue darken-1"
               href="{{ path('post_desactive', { 'id': post.id }) }}"
               value="Delete">
                <i class="small material-icons">delete</i>
            </a>
        </div>
        {{ form_end(edit_form) }}
    </div>
</section>
{% endblock %}
