{% extends '@PlateForme/layout.html.twig' %}

{% block body %}

{#-------------------------------------------------------------#}
{#                                                             #}
{#     Nouveau COMMENTAIRES SUR UN FIL DE DISCUSSION           #}
{#                                                             #}
{#-------------------------------------------------------------#}

{#-------------------------------------------------------------#}
{# NavBar Lateral  #}
{{ include("@Forum/post/postNavBar.html.twig") }}
{# fin navBar lateral #}
{#-------------------------------------------------------------#}
<section class="postSectionIndex">
    <div class="postContainer postAdmin">
        <h1 class="soustitrePage center">Nouvelle réponse <br>sur<br><h3 class="center">"{{ postParentTitre|capitalize }}"</h3></h1>
        {{ form_start(form) }}
        <div class="row input-field">
            {{ form_label(form.titre) }}
            {{ form_widget(form.titre) }}
            {{ form_errors(form.titre) }}
        </div>
        <div class="row input-field">
            {{ form_widget(form.contenu|raw) }}
            {{ form_errors(form.contenu) }}
        </div>
        {# Bouton de validation #}
        <div class="row center">
            <button class="btn-floating btn-large waves-effect waves-light green darken-1"
                    type="submit"
                    title="Valider"
                    value="Create">
                <i class="material-icons">check</i>
            </button>
        </div>
        {{ form_end(form) }}
        {# Bouton retour page fil de discussion #}
        <div class="row center">
            <a class="btn-floating btn-large waves-effect waves-light blue darken-1"
               href="{{ path('post_showAllPost', { 'id': id }) }}">
                <i class="small material-icons">home</i>
            </a>
        </div>
    </div>
</section>
{% endblock %}

