<style>
    body {
    {#background: linear-gradient(rgba(248, 247, 216, 0.7), rgba(0,0,0,0)),#}
    {#url('{{ asset('bundles/haras/media/foret.jpeg') }}');#}
    {#background: linear-gradient(to top, rgba(255,255,255,0), rgba(255,255,255,1)), url({{ asset('bundles/haras/media/foret.jpeg') }});#}
    {#background-image: url("{{ asset('bundles/haras/media/foret.jpeg') }}");#}
        background-image: url("https://dl.dropboxusercontent.com/s/v9qpub7hk3jggy6/background.png")
    }
</style>

<aside>
    <ul id="staggered-list" class="side-nav fixed grey darken-4 blue-grey-text text-lighten-4 go">
        <br />

        <div style="text-align:center;" id="profilepic">
            <img src="{{ asset('bundles/haras/media/section2Image.png') }}" alt="" class="circle responsive-img" width="200">
            <br />
            Robert Soriano
            {# Accès modif fiche user #}
            <!-- Dropdown Trigger -->
            <a class='dropdown-button btn' href='#' data-activates='dropdown1'>
                <i class="fa fa-user-circle-o" aria-hidden="true"></i>
            </a>
            <!-- Dropdown Structure -->
            <ul id='dropdown1' class='dropdown-content'>
                <li><a href="#!">Voir profil</a></li>
                <li><a href="#!"> ? </a></li>
                <li class="divider"></li>
                <li class="userLogout"><a href="#!">Déconnection</a></li>
            </ul>
        </div>
        <br />
        <br />
        <li>
            <a  class="grey-text text-lighten-2" href="{{ path('post_index') }}">
                <i class="fa fa-user fa-2x fa-fw"></i>Accueil
            </a>
        </li>
        <li>
            <a id="links" class="pink-text lighten-2" href="{{ path('categorieplateforme_index') }}">
                <i class="fa fa-terminal fa-2x fa-fw"></i>Categories
            </a>
        </li>
        <li>
            <a id="links" class="green-text text-lighten-2" href="{{ path('post_showAllPostDesactive') }}">
                <i class="fa fa-bar-chart fa-2x fa-fw"></i>Réactiver Post
            </a>
        </li>
        {#<li>#}
            {#<a id="links" class="yellow-text text-lighten-2" href="#">#}
                {#<i class="fa fa-graduation-cap fa-2x fa-fw"></i>Education#}
            {#</a>#}
        {#</li>#}
        {#<li>#}
            {#<a id="links"class="blue-text text-lighten-2" href="#">#}
                {#<i class="fa fa-code fa-2x fa-fw"></i>Source Codes#}
            {#</a>#}
        {#</li>#}
    </ul>
</aside>
