{% extends '@PlateForme/layout.html.twig' %}

{% block body %}
{# Gestion des derniers Posts  #}
<h1 class=" soustitrePage center">Actualité</h1>
<div>
    {%  for lastPostCat in lastPostCats %}
        <div class="center">
            <h4>
                Posté sur la discussion : <br>
                {{ lastPostCat.titre|capitalize }}
            </h4>
            {#{% if (lastPostCat.categorie.p) %}#}

            <h5 style="background-color: red;">{{ lastPostCat.categorie.parent.id }}</h5>

            <a class="waves-effect waves-teal btn-flat tooltipped"
               data-position="left"
               data-delay="50"
               data-tooltip="Voir la discussion"
               href="{{ path('post_showAllPost', { 'id': lastPostCat.id }) }}">
                <i class="material-icons center">input</i>
            </a>
            {#<h4>{{ post.titre|capitalize }}</h4>#}
            {#<div class="divEnfantContenu">{{ lastPostCat.contenu|raw }}</div>#}
            <div> Message de : {{ lastPostCat.user }}</div>
            <div> Crée le : {{ lastPostCat.dateCreate|date("d/m/Y") }}</div>
            <hr>
        </div>
    {% endfor %}
</div>

{% endblock %}

{% block javascripts %}

{{ parent() }}

{% endblock %}