{# Gestion des derniers post pour HOMEPAGE #}
{% extends '@PlateForme/layout.html.twig' %}

{% block body %}
    <div style="width: 25%">
        <h1 class=" soustitrePage center">Actualité</h1>
        {%  for lastPostCat in lastPostCats %}
            <div class="center">
                {# Gestion couleur par catégories #}
                {% if lastPostCat.categorie.parent.id == 1 %}
                    <h4 class="cat1">{{ lastPostCat.titre|capitalize }}</h4>
                {%  elseif lastPostCat.categorie.parent.id == 2%}
                    <h4 class="cat2">{{ lastPostCat.titre|capitalize }}</h4>
                {%  elseif lastPostCat.categorie.parent.id == 3 %}
                    <h4 class="cat3">{{ lastPostCat.titre|capitalize }}</h4>
                {%  elseif lastPostCat.categorie.parent.id == 4 %}
                    <h4 class="cat4">{{ lastPostCat.titre|capitalize }}</h4>
                {% endif %}
                {# FIN Gestion couleur par catégories #}
                {# Route pour post parent #}
                {% if lastPostCat.parent.id is not defined %}
                    <a class="waves-effect waves-teal btn-flat tooltipped"
                       data-position="left"
                       data-delay="50"
                       data-tooltip="Voir la discussion"
                       href="{{ path('post_showAllPost', { 'id': lastPostCat.id }) }}">
                        <i class="material-icons center">input</i>
                    </a>
                {# Route pour post enfant #}
                {% elseif lastPostCat.parent.id is defined %}
                    <a class="waves-effect waves-teal btn-flat tooltipped"
                       data-position="left"
                       data-delay="50"
                       data-tooltip="Voir la discussion"
                       href="{{ path('post_showAllPost', { 'id': lastPostCat.parent.id }) }}">
                        <i class="material-icons center">input</i>
                    </a>
                {% endif %}
                <div> Message de : {{ lastPostCat.user }}</div>
                <div> Crée le : {{ lastPostCat.dateCreate|date("d/m/Y") }}</div>
                <hr>
            </div>
        {% endfor %}
    </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

{% endblock %}