{% extends '@Forum/layout.html.twig' %}

{% block body %}
<section class="sectionAllPost">
    {% for postParent in postParents %}
       {# Affichage du post parent #}
          <div class="header">
            <div class="circle"></div>
            <h1> {{ postParent.titre|capitalize }} </h1>
            <div class="contextHeader">
                {{ postParent.contenu|raw }}
            </div>

            <div class="valign-wrapper">
                <a class="valign" href="{{ path('post_edit', { 'id': postParent.id }) }}" style="margin: 0 auto;">
                    <i class="fa fa-pencil-square-o fa-3x" style="color: #FFFFFF;" aria-hidden="true"></i>
                </a>

                <div class="cartoucheUserShowAll valign">
                    <div class="pCartoucheUserShowAll">Message de : {{ postParent.user }}</div>
                    <div class="avatarUserIndex"><img src="{{ asset('bundles/haras/images/test2.jpeg') }}"></div>
                    {#-------------------------------------------------------------#}
                    {# rating user #}
                    {#<p>{{ postParent.user.nbPost }}</p>#}
                    {% set nb = 100 %}
                    <div class="pCartoucheUserIndexPost">{{ include("@Forum/post/rating.html.twig") }}</div>
                    {# fin rating user #}
                    {#-------------------------------------------------------------#}
                </div>

            </div>

          </div> {# fin header #}



        {#-------------------------------------------------------------#}
        {# Mise en place pagination #}
        <div class="row center">
            {{ knp_pagination_render(postEnfants) }}
        </div>
        {#-------------------------------------------------------------#}
        {# Affichage des posts enfants #}
        {% for postEnfant in postEnfants %}
        <div class="line"></div>

        <div id="content">
            <div class="object">
                <div class="date"></div>
                <div class="circle"></div>
                <div class="context">

                  <div class="col s12 m7">
                    <h2 class="titreEnfant">{{ postEnfant.titre }}</h2>
                    <div class="card horizontal">
                      <div class="card-stacked">
                        <div class="card-content">
                          <p>{{ postEnfant.contenu|raw }}</p>
                        </div>
                        <div class="card-action valign-wrapper">
                            <div class="valign">
                          <a href="{{ path('post_edit', { 'id': postParent.id }) }}">
                              <i class="fa fa-pencil-square-o fa-3x" style="color: #444;" aria-hidden="true"></i>
                          </a>
                            </div>
                          <div class="valign pCartoucheUserShowAll">message de : {{ postEnfant.user }}</div>
                          <div class="valign" style="float: right;">
                              <img src="{{ asset('bundles/haras/images/test3.jpeg') }}" style="width: 50px;">
                          </div>
                          {#-------------------------------------------------------------#}
                          {# rating user #}
                          {#<p>{{ postEnfant.user.nbPost }}</p>#}
                          {% set nb = 70 %}
                          <div  class="valign">{{ include("@Forum/post/rating.html.twig") }}</div>
                          {# fin rating user #}
                          {#-------------------------------------------------------------#}
                        </div>
                      </div>
                    </div>
                  </div>

                </div> {# fin div context #}
            {% endfor %} {# Fin For POST ENFANTS #}
            </div> {# fin div object #}

            {# Ajout d'un nouveau post sur ce fil de discussion #}
            <div class="row center">
                <a class="btn-floating btn-large waves-effect waves-light green darken-3"
                   href="{{ path('post_new', {'cat' : postParent.categorie.id,  'id' : postParent.id }) }}">
                    <i class="material-icons">add</i>
                </a>
                <div class="row center">

                <a class="btn-floating btn-large waves-effect waves-light blue darken-1"
                   href="{{ path('post_index') }}">
                    <i class="small material-icons">home</i>
                </a>
            </div>
            </div>
    {% endfor %} {# Fin For POST Parent #}
    </div>  {# fin div id content #}
</section>
{% endblock %}

