{# Dernier post de chaque catégorie #}
{# Page index post #}
<div class="container lastPost">
    {% if lastPostCats is empty %}
    {% else %}
    <h2 class="soustitrePage center">Dernières discussions</h2>
    <div class="row">
        {# Gestion couleur card en fonction de la catégorie #}
        {% for lastPostCat in lastPostCats|reverse %}
        <div class="col s12 m6">
            {% if lastPostCat.categorie.parent.id == 1 %}
            <div class="card cat1">
                {% elseif  lastPostCat.categorie.parent.id == 2 %}
                <div class="card cat2">
                    {% elseif  lastPostCat.categorie.parent.id == 3 %}
                    <div class="card cat3">
                        {% elseif  lastPostCat.categorie.parent.id == 4 %}
                        <div class="card cat4">
                            {% endif %}
                            {# Fin Gestion couleur card en fonction de la catégorie #}
                            <div class="card-content white-text colCustom">
                                <span class="card-title titreDerPost">{{ lastPostCat.titre|capitalize }}</span>
                                <div class="lastPostContenu">{{ lastPostCat.contenu|raw }}</div>
                            </div>
                            <div class="card-action">
                                <a class="waves-effect waves-teal btn-flat center indexEntrerFil"
                                   href="{{ path('post_showAllPost', { 'id': lastPostCat.id }) }}">
                                    <i class="material-icons">input</i>
                                </a>
                                <p class="pDernierPost white-text">Message de : {{ lastPostCat.user }} <br />
                                    Posté le {{ lastPostCat.dateCreate|date("d/m/Y") }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>


