<div id="sliderPost">
    <ul>
        {%  for lastPostCat in lastPostCats %}
        <li>

            <div class="sliderPost-container">
                {# Gestion couleur par catégories #}
                {# Titre de la discussion #}
                {% if lastPostCat.categorie.parent.id == 1 %}
                    <h4 class="h4cat cat1">&laquo; {{ lastPostCat.categorie.parent.nom }} &#xBB;</h4>
                    <h3 class="soustitreHome">{{ lastPostCat.titre|capitalize|striptags|truncate(25, true, "...") }}</h3>
                {%  elseif lastPostCat.categorie.parent.id == 2%}
                    <h4 class="h4cat cat2">&laquo; {{ lastPostCat.categorie.parent.nom }} &#xBB;</h4>
                    <h3 class="soustitreHome">{{ lastPostCat.titre|capitalize|striptags|truncate(25, true, "...") }}</h3>
                {%  elseif lastPostCat.categorie.parent.id == 3 %}
                    <h4 class="h4cat cat3">&laquo; {{ lastPostCat.categorie.parent.nom }} &#xBB;</h4>
                    <h3 class="soustitreHome">{{ lastPostCat.titre|capitalize|striptags|truncate(25, true, "...") }}</h3>
                {%  elseif lastPostCat.categorie.parent.id == 4 %}
                    <h4 class="h4cat cat4">&laquo; {{ lastPostCat.categorie.parent.nom }} &#xBB;</h4>
                    <h3 class="soustitreHome">{{ lastPostCat.titre|capitalize|striptags|truncate(25, true, "...") }}</h3>
                {% endif %}
                {# FIN Gestion couleur par catégories #}
                {# Contenu de la discussion #}
                <div class="divContenuHome">{{ lastPostCat.contenu|capitalize|striptags|truncate(50, true, "...")|raw }}</div>
                <div class="divBoutonHome">
                    <p>Le : {{ lastPostCat.dateCreate|date("d/m/Y") }}</p>
                    <p>par : {{ lastPostCat.user|capitalize }}
                    {# Si user connecté => bouton pour aller voir discussion #}
                    {% if app.user %}
                        {# Route pour post parent #}
                        {% if lastPostCat.parent.id is not defined %}
                            <a class="waves-effect waves-teal btn-flat tooltipped"
                               data-position="left"
                               data-delay="50"
                               data-tooltip="Voir la discussion"
                               href="{{ path('post_showAllPost', { 'id': lastPostCat.id }) }}">
                                <i class="material-icons center">input</i>
                            </a>
                            {# Route pour post enfant #}
                        {% elseif lastPostCat.parent.id is defined %}
                            <a class="waves-effect waves-teal btn-flat tooltipped"
                               data-position="left"
                               data-delay="50"
                               data-tooltip="Voir la discussion"
                               href="{{ path('post_showAllPost', { 'id': lastPostCat.parent.id }) }}">
                                <i class="material-icons center">input</i>
                            </a>
                        {% endif %}
                    </p>
                        {# Si user pas connecté pas de bouton pour aller voir discussion #}
                    {% else %}
                        {##}
                    {% endif %}
                </div>
            </div>

        </li>
        {% endfor %}
    </ul>
</div>