{% extends '@Forum/layout.html.twig' %}

{% block body %}

    {% for postParent in postParents %}
    <h1 class="center-align">{{ postParent.titre|capitalize }}</h1>

    {#<div class="row">#}
        <div class="row col offset-l2 l6 s12 m6 filDeDiscussion">
            {#{% for postParent in postParents %}#}
            <div>
              <div class="card">
                <div class="card-content">
                  <span class="card-title">{{ postParent.titre }}</span>
                  <p>{{ postParent.contenu|raw }}</p>
                </div>
                <div class="card-action">
                    <p>{{ postParent.user }}</p>
                    <a href="{{ path('post_edit', { 'id': postParent.id }) }}">Modifier</a>
                </div>
              </div>
            </div>
        </div>
    {# Affichage des posts enfants #}
    {% for postEnfant in postEnfants %}
    <div class="row">
        <div class="col offset-l2 l8 s12 m6 ">
          <div class="card">
            <div class="card-content">
              <span class="card-title">{{ postEnfant.titre }}</span>
              <p>{{ postEnfant.contenu|raw }}</p>
            </div>
            <div class="card-action">
                <p>{{ postEnfant.user }}</p>
                {#<a href="{{ path('post_show', { 'id': post.id }) }}">show</a>#}
                {#<a href="{{ path('post_showAllPost', { 'id': post.id }) }}">Voir</a>#}
                <a href="{{ path('post_edit', { 'id': postEnfant.id }) }}">Modifier</a>
            </div>
          </div>
        </div>
    </div>
    {% endfor %} {# Fin For POST ENFANTS #}
    {# Ajout d'un nouveau post sur ce fil de discussion #}
    <div class="row center">
        <a class="btn-floating btn-large waves-effect waves-light green darken-3"
           href="{{ path('post_new', {'cat' : postParent.categorie.id,  'id' : postParent.id }) }}">
            <i class="material-icons">add</i>
        </a>
    </div>

    {% endfor %} {# Fin For POST ENFANTS #}
{% endblock %}