{% extends 'base.html.twig' %}

{% block body %}
    <h1>Agendas list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Texte</th>
                <th>Date</th>
                <th>Lieu</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for agenda in agendas %}
            <tr>
                <td><a href="{{ path('agenda_show', { 'id': agenda.id }) }}">{{ agenda.id }}</a></td>
                <td>{{ agenda.titre }}</td>
                <td>{{ agenda.texte }}</td>
                <td>{% if agenda.date %}{{ agenda.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ agenda.lieu }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('agenda_show', { 'id': agenda.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('agenda_edit', { 'id': agenda.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('agenda_new') }}">Create a new agenda</a>
        </li>
    </ul>
{% endblock %}
