{% extends '@PlateForme/layout.html.twig' %}

{% block body %}

    <div class="postContainer postAdmin">
        <h1>Edition des messages</h1>
        {{ form_start(edit_form) }}
        {#<div class="row">#}
            <div class="col l6 m6 s12">
                <div class="row input-field">
                    {#{{ dump(post) }}#}
                    {#{{ dump(edit_form.enfant) }}#}
                    {{ form_label(edit_form.titre) }}
                    {{ form_widget(edit_form.titre|title) }}
                    {{ form_errors(edit_form.titre) }}
                </div>
            </div>
            <div class="col l6 m6 s12">
                {{ form_label(edit_form.contenu) }}
                {{ form_widget(edit_form.contenu|raw) }}
                {{ form_errors(edit_form.contenu) }}
            </div>
            {#<div class="col l6 m6 s12">#}
                {#{{ form_label(edit_form.parent) }}#}
                {#{{ form_widget(edit_form.parent) }}#}
                {#{{ form_errors(edit_form.parent) }}#}
            {#</div>#}
            {#<div class="col l6 m6 s12">#}
                {#<p>parent</p>#}
                {#{{ form_label(edit_form.enfant) }}#}
                {#{{ form_widget(edit_form.enfant) }}#}
                {#{{ form_errors(edit_form.enfant) }}#}
            {#</div>#}
            {#<div class="col l6 m6 s12">#}
                {#<p>parent</p>#}
                {#{{ form_label(edit_form.actif) }}#}
                {#{{ form_widget(edit_form.actif) }}#}
                {#{{ form_errors(edit_form.actif) }}#}
            {#</div>#}
            {#<div class="col l6 m6 s12">#}
                {#<p>parent</p>#}
                {#{{ form_label(edit_form.categorie) }}#}
                {#{{ form_widget(edit_form.categorie) }}#}
                {#{{ form_errors(edit_form.categorie) }}#}
            {#</div>#}
            {#<div class="col l6 m6 s12">#}
                {#<p>parent</p>#}
                {#{{ form_label(edit_form.user) }}#}
                {#{{ form_widget(edit_form.user) }}#}
                {#{{ form_errors(edit_form.user) }}#}
            {#</div>#}
        {#</div>#}



    <div class="row center">
        <button class="btn-floating btn-large waves-effect waves-light green darken-1"
        type="submit"
        title="Valider">
        <i class="material-icons">check</i>
        </button>
    </div>
    <div class="row center">
        {#index#}
        <a class="btn-floating btn-large waves-effect waves-light blue darken-1"
           href="{{ path('post_index') }}">
            <i class="small material-icons">home</i>
        </a>
        {#Supprimer#}
        {#{{ form_start(delete_form) }}#}
        {#<input type="submit" value="Delete">#}
        <a class="btn-floating btn-large waves-effect waves-light blue darken-1"
           href="{{ path('post_delete', { 'id': post.id }) }}"
           value="Delete">
            <i class="small material-icons">delete</i>
        </a>
        {#{{ form_end(delete_form) }}#}
    </div>
        {{ form_end(edit_form) }}
    </div>

    <ul>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
