{% extends '@PlateForme/Default/basePlateforme.html.twig' %}

{% block body %}
<section class="postSectionIndex">
  {# DEBUT CODE #}
  <article class="postArticleIndex">
    <h1 class="center">Discussions par catégorie</h1>

    <ul class="collapsible popout postDivPrincipale" data-collapsible="popout">
      {#***********************#}
      {# Niveau 1 : Catégories #}
      {#***********************#}
      {% for categorie in categories %}
      <li>
          <div class="collapsible-header postListTitleCat">
            {{ categorie.nom }}
            <i class="material-icons">play_arrow</i>
            {# Stockage de l'ID de la CATEGORIE #}
            {% set categorieEnLecture = categorie.id %}
          </div>
          <div class="collapsible-body">
            <ul class="collapsible popout postDivPrincipale" data-collapsible="accordion">
            {#****************************#}
            {# Niveau 2 : SOUS CATEGORIES #}
            {#****************************#}
            {% for sousCategorie in sousCategories %}
            {# Selectionne sous catégorie  parentId not null #}
            {% if sousCategorie.parent.id == categorieEnLecture %}
                <li>
                   <div class="collapsible-header postListTitleSousCat">
                       {{ sousCategorie.nom }}
                       {# Stockage de l'ID de la SOUS CATEGORIE #}
                       {% set sousCategorieEnLecture = sousCategorie.id %}
                   </div>
                   <div class="collapsible-body">
                       <ul class="collapsible popout col offset-l2 l8 s12 m6 postDivPrincipale" data-collapsible="accordion">
                       {#**************************}
                       {# Niveau 3 : Post Parents #}
                       {#*************************#}
                       {% for postParent in postParents %}
                       {# Selectionne sous categorieId du postParent #}
                       {% if (postParent.categorie.id == sousCategorieEnLecture)
                            and (postParent.categorie.parent.id == categorieEnLecture) %}
                            <li>
                                  <div class="collapsible-header postListTitlePost id="table_id"">
                                      <i class="material-icons">place</i>
                                      {{ postParent.titre }}
                                  </div>
                                  <div class="collapsible-body">
                                      <div class="bigtxt">
                                        <p>{{ postParent.contenu|raw }}</p>
                                      </div>
                                      <div>
                                        <p>User : {{ postParent.user }}</p>
                                        <a class="waves-effect waves-teal btn-flat"
                                           href="{{ path('post_showAllPost', { 'id': postParent.id }) }}">
                                            <i class="material-icons">input</i>
                                        </a>
                                      </div>
                                  </div> {# fin class="collapsible-body" POSTPARENT #}
                            </li>
                       {% endif %}  {# fin if POST PARENT #}
                       {% endfor %} {# for for POST PARENT #}
                       </ul>
                   <div class="row center">
                       {#Ajout nouveau post sur cat & ssCat selectionnées (CAT)#}
                       <a class="btn btn-small waves-effect waves-light grey darken-3"
                           href="{{ path('post_new' , {'cat' : sousCategorieEnLecture, 'id' : 'NULL' }) }}">
                            <i class="material-icons">add</i>
                       </a>
                   </div>
            {% endif %} {# fin if SOUS CATEGORIE #}
            {% endfor %} {# fin for SOUS CATEGORIE #}
                   </div> {# Fin Div  class="collapsible-body" niveau POST PARENTS #}
                </li>
            </ul>
          </div> {# fin class="collapsible-body" SOUS CATEGORIES #}
      </li>
      {% endfor %} {# fin for CATEGORIE #}
    </ul>


    {# Bouton création nouveau fil de discussion sur cat et ssCat ou il se trouve #}
    {#<div class="row center">#}
        {#<a class="btn-floating btn-large waves-effect waves-light green darken-3"#}
            {#href="{{ path('post_new' , {'cat' : postParent.categorie.id, 'id' : NULL }) }}">#}
            {#<i class="material-icons">+</i>#}
        {#</a>#}
    {#</div>#}
   </article>
</section>
{% endblock %}
