{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des fils de discussion</h1>

    <div class="row">
        {% for post in posts %}
        <div class="col s12 m6">
          <div class="card light-green darken-1">
            <div class="card-content white-text">
              <span class="card-title">{{ post.titre }}</span>
              <p>{{ post.contenu }}</p>
            </div>
            <div class="card-action">
                <p>{{ post.categorie }}</p>
                <p>{{ post.user }}</p>
                {#<a href="{{ path('post_show', { 'id': post.id }) }}">show</a>#}
                <a href="{{ path('post_showAllPost', { 'id': post.id }) }}">Voir</a>
                <a href="{{ path('post_edit', { 'id': post.id }) }}">Modifier</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

    {#<table class="responsive-table">#}
        {#<thead>#}
            {#<tr>#}
                {#<th>Id</th>#}
                {#<th>Titre</th>#}
                {#<th>Contenu</th>#}
                {#<th>Catégorie</th>#}
                {#<th>User</th>#}
                {#<th>Actif</th>#}
                {#<th>Actions</th>#}
            {#</tr>#}
        {#</thead>#}
        {#<tbody>#}
        {#{% for post in posts %}#}
            {#<tr>#}
                {#<td><a href="{{ path('post_show', { 'id': post.id }) }}">{{ post.id }}</a></td>#}
                {#<td>{{ post.titre }}</td>#}
                {#<td>{{ post.contenu }}</td>#}
                {#<td>{{ post.categorie }}</td>#}
                {#<td>{{ post.user }}</td>#}
                {#<td>{% if post.actif %}Oui{% else %}Non{% endif %}</td>#}
                {#<td>#}
                    {#<ul>#}
                        {#<li>#}
                            {#<a href="{{ path('post_show', { 'id': post.id }) }}">show</a>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a href="{{ path('post_showAllPost', { 'id': post.id }) }}">showAll</a>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a href="{{ path('post_edit', { 'id': post.id }) }}">edit</a>#}
                        {#</li>#}
                    {#</ul>#}
                {#</td>#}
            {#</tr>#}
        {#{% endfor %}#}
        {#</tbody>#}
    {#</table>#}

    <ul>
        <li>
            <a href="{{ path('post_new') }}">Create a new post</a>
        </li>
    </ul>
{% endblock %}
