{% extends '@PlateForme/Default/basePlateforme.html.twig' %}

{% block body %}
<section>
  {#<aside>#}
    {#<!—Ce aside est en dehors de la balise article. Son contenu est relié à la page, mais pas autant que la balise aside à l’intérieur de la balise article. -->#}
    {#<h2>Mes liens préférés</h2>#}
    {#<ul>#}
      {#<li><a href="#">a</a></li>#}
      {#<li><a href="#">b</a></li>#}
      {#<li><a href="#">c</a></li>#}
    {#</ul>#}
  {#</aside>#}

  <article>
    <h1>Discussions par catégorie</h1>

    {% for categorie in categories %}

    <ul class="collapsible col offset-l2 l8 s12 m6 postDivPrincipale" data-collapsible="accordion">
        <li>
          {# Niveau 1 : Catégories #}
          <div class="collapsible-header postListTitleCat">
              {#<i class="material-icons">filter_drama</i>#}
              {{ categorie.nom}}
          </div>
          {# Niveau 2 : Parents #}
          <div class="collapsible-body">

                {% for postParent in postParents %}
                    {% if (postParent.categorie.id == categorie.id) and (postParent.parent == null) %}
                        <ul class="collapsible col offset-l2 l8 s12 m6 postDivPrincipale" data-collapsible="accordion">
                            <li>
                              <div class="collapsible-header postListTitlePost">
                                  {#<i class="material-icons">filter_drama</i>#}
                                  {{ postParent.titre }}
                              </div>
                              <div class="collapsible-body">
                                  <div>
                                    <p>{{ postParent.contenu }}</p>
                                  </div>
                                  <div class="center">
                                    <p>{{ postParent.categorie }}</p>
                                    <p>{{ postParent.user }}</p>
                                    <a class="waves-effect waves-teal btn-flat" href="{{ path('post_showAllPost', { 'id': postParent.id }) }}">
                                        <i class="material-icons">voir</i>
                                    </a>
                                    <a class="waves-effect waves-teal btn-flat" href="{{ path('post_edit', { 'id': postParent.id }) }}">
                                        <i class="material-icons">modifier</i>
                                    </a>
                                  </div>
                              </div>
                            </li>
                        </ul>
                    {% endif %}
                {% endfor %}

          </div>
        </li>
    </ul>
    {% endfor %}


    <div class="row center">
        <a class="btn-floating btn-large waves-effect waves-light green darken-3"
           href="{{ path('post_new') }}">
            <i class="material-icons">+</i>
        </a>
    </div>
   </article>
</section>
{% endblock %}
