{% extends 'base.html.twig' %}

{% block body %}
    <h1>Fil de discussion et ses enfants</h1>

        <table class="responsive-table indigo accent-4">
        <tbody>
        {% for postParent in postParents %}
            <tr>
                <th>Id</th>
                <td>{{ postParent.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ postParent.titre }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ postParent.contenu }}</td>
            </tr>
            <tr>
                <th>Actif</th>
                <td>{% if postParent.actif %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Catégorie</th>
                <td>{{ postParent.categorie }}</td>
            </tr>
            <tr>
                <th>User</th>
                <td>{{ postParent.user }}</td>
            </tr>
            {% endfor %}
        </tbody>
            <hr>
    </table>

    <table>
        {% for postEnfant in postEnfants %}
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ postEnfant.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ postEnfant.titre }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ postEnfant.contenu }}</td>
            </tr>
            <tr>
                <th>Actif</th>
                <td>{% if postEnfant.actif %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Catégorie</th>
                <td>{{ postEnfant.categorie }}</td>
            </tr>
            <tr>
                <th>User</th>
                <td>{{ postEnfant.user }}</td>
            </tr>
        </tbody>
            <hr>
            {% endfor %}
    </table>

    <ul>
        <li>
            <a href="{{ path('post_index') }}">Back to the list</a>
        </li>
        {#<li>#}
            {#<a href="{{ path('post_edit', { 'id': post.id }) }}">Edit</a>#}
        {#</li>#}
        {#<li>#}
            {#{{ form_start(delete_form) }}#}
                {#<input type="submit" value="Delete">#}
            {#{{ form_end(delete_form) }}#}
        {#</li>#}
    </ul>
{% endblock %}