{% extends '@PlateForme/Default/basePlateforme.html.twig' %}

{% block body %}
    <h1>Fil de discussion et ses enfants</h1>

    <div class="row col offset-l2 l8 s12 m6">
        {% for postParent in postParents %}
        <div>
          <div class="card">
            <div class="card-content">
              <span class="card-title">{{ postParent.titre }}</span>
              <p>{{ postParent.contenu }}</p>
            </div>
            <div class="card-action">
                <p>{{ postParent.categorie }}</p>
                <p>{{ postParent.user }}</p>
                {#<a href="{{ path('post_show', { 'id': post.id }) }}">show</a>#}
                {#<a href="{{ path('post_showAllPost', { 'id': post.id }) }}">Voir</a>#}
                <a href="{{ path('post_edit', { 'id': postParent.id }) }}">Modifier</a>
            </div>
          </div>
        </div>
        {% endfor %}
    </div>

    {% for postEnfant in postEnfants %}
    <div class="row">
        <div class="col offset-l2 l8 s12 m6 ">
          <div class="card">
            <div class="card-content">
              <span class="card-title">{{ postEnfant.titre }}</span>
              <p>{{ postEnfant.contenu }}</p>
            </div>
            <div class="card-action">
                <p>{{ postEnfant.categorie }}</p>
                <p>{{ postEnfant.user }}</p>
                {#<a href="{{ path('post_show', { 'id': post.id }) }}">show</a>#}
                {#<a href="{{ path('post_showAllPost', { 'id': post.id }) }}">Voir</a>#}
                <a href="{{ path('post_edit', { 'id': postEnfant.id }) }}">Modifier</a>
            </div>
          </div>
        </div>
    </div>
    {% endfor %}

    {# Ajout d'un nouveau post sur ce fil de discussion #}
    <div class="row center">
        <a class="btn-floating btn-large waves-effect waves-light green darken-3"
           href="{{ path('post_new') }}">
            <i class="material-icons">+</i>
        </a>
    </div>

    <ul>
        <li>
            <a href="{{ path('post_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}