{% extends 'base.html.twig' %}

{% block body %}
    <h1>Edition de la page {{ page.name }}</h1>
    <div class="admin_list">
        {{ form_start(edit_form) }}
        <div class="admin_content">
                Nom
                {{ form_errors(edit_form.name) }}
                {{ form_widget(edit_form.name) }}
        </div>
        <div class="admin_content">
                Articles
                {{ form_errors(edit_form.articles) }}
                {{ form_widget(edit_form.articles) }}
        </div>
    </div>
    <div class="admin_buttons">
        <div>
            <a href="{{ path('page_show', { 'name': page.name }) }}">
                <input type="submit" value="Valider les modifications de la page" />
            </a>
        </div>
        {{ form_end(edit_form) }}
        <div>
                <a href="{{ path('article_new') }}">
                    <input type="submit" value="Ajouter un article" />
                </a>
        </div>

        <div>

                {{ form_start(delete_form) }}
                    <input type="submit" value="Supprimer la page">
                {{ form_end(delete_form) }}
        </div>
        <div>
                <a href="{{ path('page_index') }}">
                    <input type="submit" value="Retour à la liste des pages">
        </div>
    </div>
{% endblock %}
