{% extends 'base.html.twig' %}

{% block body %}
    <h1>Edition de la page {{ page.name }}</h1>
    <table>
        {{ form_start(edit_form) }}
        <tr>
            <td>
                Nom
                {{ form_errors(edit_form.name) }}
                {{ form_widget(edit_form.name) }}
            </td>
        </tr>
        <tr>
            <td>
                Articles
                {{ form_errors(edit_form.articles) }}
                {{ form_widget(edit_form.articles) }}
            </td>
        </tr>
        <tr>
            <td>
                <a href="{{ path('page_show', { 'name': page.name }) }}">
                    <input type="submit" value="Valider les modifications de la page" />
                </a>
            </td>
        </tr>
        {{ form_end(edit_form) }}
    </table>
    
    <table>
        <tr>
            <td>
                {{ form_start(delete_form) }}
                    <input type="submit" value="Supprimer la page">
                {{ form_end(delete_form) }}
            </td>
        </tr>
        <tr>
            <td>
                <a href="{{ path('page_index') }}">
                    <input type="submit" value="Retour à la liste des pages">
                </a>
            </td>
        </tr>
    </table>
{% endblock %}
