{% extends 'base.html.twig' %}

{% block body %}
    <header id="_template_header">
        {{ render(controller('HarasBundle:Page:getPage',{'name':'header'})) }}
    </header>
    <h1>Quelle page voulez-vous modifier ?</h1>

    <table>
        <tbody>
            <tr>
                <td>
                    <a href="{{ path('page_show', { 'name': 'homepage' }) }}">
                        Page d'accueil
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ path('page_show', { 'name': 'section1' }) }}">
                        Section 1
                    </a>
                </td>
                <td>
                    <a href="{{ path('page_show', { 'name': 'section2' }) }}">
                        Section 2
                    </a>
                </td>
                <td>
                    <a href="{{ path('page_show', { 'name': 'section3' }) }}">
                        Section 3
                    </a>
                </td>
                <td>
                    <a href="{{ path('page_show', { 'name': 'section4' }) }}">
                        Section 4
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ path('page_show', { 'name': 'contact' }) }}">
                        Contact
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ path('page_show', { 'name': 'header' }) }}">
                        En-tête
                    </a>
                </td>
                <td>
                    <a href="{{ path('page_show', { 'name': 'footer' }) }}">
                        Pied de page
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
