{% extends 'base.html.twig' %}

{% block body %}
    <header id="_template_header">
        {{ render(controller('HarasBundle:Page:header')) }}
    </header>
    <h1>Quelle page voulez-vous modifier ?</h1>

    <table>
        <thead>
            <tr>
             <!--   <th>Id</th>
                <th>Name</th>
                <th>Actions</th> -->
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <a href="{{ path('page_show', { 'name': 'homepage' }) }}">
                        Page d'accueil
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ path('page_show', { 'name': 'section1' }) }}">
                        Section 1
                    </a>
                </td>
                <td>
                    <a href="{{ path('page_show', { 'name': 'section2' }) }}">
                        Section 2
                    </a>
                </td>
                <td>
                    <a href="{{ path('page_show', { 'name': 'section3' }) }}">
                        Section 3
                    </a>
                </td>
                <td>
                    <a href="{{ path('page_show', { 'name': 'section4' }) }}">
                        Section 4
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ path('haras_contact', { 'name': 'contact' }) }}">
                        Contact
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ path('page_show', { 'name': 'header' }) }}">
                        En-tête
                    </a>
                </td>
                <td>
                    <a href="{{ path('page_show', { 'name': 'footer' }) }}">
                        Pied de page
                    </a>
                </td>
            </tr>


        {#{% for page in pages %} #}
            {#<!-- <tr>#}
                {#<!-- <td><a href="#}{# {{ path('page_show', { 'id': page.id }) }}">{{ page.id }} #}{#</a></td> -->#}
                {#<td><a href="{{ path('page_show', { 'id': page.id }) }}">{{ page.name }}</a></td>#}
                {#<!-- <td>#}
                    {#<ul>#}
                        {#<li>#}
                            {#<a href="#}{# {{ path('page_show', { 'id': page.id }) }} #}{#">show</a>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a href="#}{# {{ path('page_edit', { 'id': page.id }) }} #}{#">edit</a>#}
                        {#</li>#}
                    {#</ul>#}
                {#</td> -->#}
            {#</tr> #}
        {#{% endfor %}#}
        </tbody>
    </table>

    {# <ul>
        <li>
            <a href=" {{ path('page_new') }}">Create a new entry</a>
        </li>
        <li>
        </li>
        <li>
            <a href="{{ path('article_index') }}">Go to article page</a>
        </li>
    </ul> #}
    <footer>
         {{ render (controller('HarasBundle:Page:footer')) }}
    </footer>
{% endblock %}
