{% extends '@Haras/base.html.twig' %}
{% block materialize %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
{% endblock materialize %}
{% block body %}
    <body id="_admin">

        <div class="container">
            <div class="row">
                <div class="cadre">
                <h1 class="admin_title">Which page do you want to modify ?</h1>

                <div class="admin_button col m12">
                    <a class="waves-effect waves-light btn" href="{{ path('page_show', { 'name': 'homepage' }) }}">
                        <input type="submit" value="Homepage" />
                    </a>
                </div>
                <div class="row">
                    <div class="admin_button col m3">
                        <a class="waves-effect waves-light btn" href="{{ path('page_show', { 'name': 'section1' }) }}">
                            <input type="submit" value="Section 1" />
                        </a>
                    </div>

                    <div class="admin_button col m3">
                        <a class="waves-effect waves-light btn" href="{{ path('page_show', { 'name': 'section2' }) }}">
                            <input type="submit" value="Section 2" />
                        </a>
                    </div>
                    <div class="admin_button col m3">
                        <a class="waves-effect waves-light btn" href="{{ path('page_show', { 'name': 'section3' }) }}">
                            <input type="submit" value="Section 3" />
                        </a>
                    </div>

                    <div class="admin_button col m3">
                        <a class="waves-effect waves-light btn" href="{{ path('page_show', { 'name': 'section4' }) }}">
                            <input type="submit" value="Section 4" />
                        </a>
                    </div>
                </div>
                <div class="row">
                        <div class="admin_button col m12">
                            <a class="waves-effect waves-light btn" href="{{ path('page_show', { 'name': 'contact' }) }}">
                                <input type="submit" value="Contact" />
                            </a>
                        </div>
                </div>
                <div class="row">
                    <div class="admin_button col m6">
                        <a class="waves-effect waves-light btn" href="{{ path('page_show', { 'name': 'header' }) }}">
                            <input type="submit" value="Header" />
                        </a>
                    </div>

                    <div class="admin_button col m6">
                        <a class="waves-effect waves-light btn" href="{{ path('page_show', { 'name': 'footer' }) }}">
                            <input type="submit" value="Footer" />
                        </a>
                    </div>
                    </div>
                </div>

            </div>
        </div>
    </body>
{% endblock body %}
