{% extends 'base.html.twig' %}

{% block body %}
    <h1>Voici les articles de la page {{ page.name }}</h1>

    <table>
        <thead>
        <tr>
            <th>Nom des articles</th>
            <th>Voir</th>
            <th>Editer</th>
        </tr>
        </thead>
        <tbody>
        {% for article in page.articles %}
            <tr>
                <td>
                    {{ article.name }}
                </td>
                <td>
                    <a href="{{ path('article_show', { 'id': article.id }) }}">Visualiser</a>
                </td>
                <td>
                    <a href="{{ path('article_edit', { 'id': article.id }) }}">Editer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <ul>
        <li>
            <a href="{{ path('page_index') }}">Retourner à la liste des pages</a>
        </li>
        <li>
            <a href="{{ path('page_edit', { 'name': page.name }) }}">Modifier la page</a>
        </li>
    </ul>
{% endblock %}
