{% extends '@Haras/base.html.twig' %}
{% block materialize %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
{% endblock materialize %}

{% block body %}
<body id="_admin">
    <div class="container">
        <div class="row">
            <h1 class="admin_title">Voici les articles de la page {{ page.name }}</h1>

            <table>
                <thead>
                    <tr>
                        <th>Name of articles</th>
                        <th>Show</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                {% for article in page.articles %}
                    <tr>
                        <td>
                            {{ article.name }}
                        </td>
                        <td>
                            <a href="{{ path('article_show', { 'id': article.id }) }}">Show</a>
                        </td>
                        <td>
                            <a href="{{ path('article_edit', { 'id': article.id }) }}">Edit</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <thead>
                <tr>
                    <th>Name of texts</th>
                    <th>Show</th>
                    <th>Edit</th>
                </tr>
                </thead>
                <tbody>
                {% for text in page.texts %}
                    <tr>
                        <td>
                            {{ text.name }}
                        </td>
                        <td>
                            <a href="{{ path('text_show', { 'id': text.id }) }}">Show</a>
                        </td>
                        <td>
                            <a href="{{ path('text_edit', { 'id': text.id }) }}">Edit</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <thead>
                <tr>
                    <th>Name of medias</th>
                    <th>Show</th>
                    <th>Edit</th>
                </tr>
                </thead>
                <tbody>
                {% for media in page.medias %}
                    <tr>
                        <td>
                            {{ media.name }}
                        </td>
                        <td>
                            <a href="{{ path('media_show', { 'id': media.id }) }}">Show</a>
                        </td>
                        <td>
                            <a href="{{ path('media_edit', { 'id': media.id }) }}">Edit</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="admin_button col m6">
                <a class="waves-effect waves-light btn"href="{{ path('page_index') }}">Retourner à la liste des pages</a>
            </div>
            <div class="admin_button col m6">
                    <a class="waves-effect waves-light btn" href="{{ path('page_edit', { 'name': page.name }) }}">Modifier la page</a>
            </div>
        </div>
    </div>
</body>
{% endblock %}
