{% extends '@Haras/base.html.twig' %}

{% block materialize %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <script>
        $(document).ready(function () {
            Materialize.updateTextFields();
            $('select').material_select();
        });
    </script>
{% endblock materialize %}

{% block body %}
    <body id="_admin">
    <div class="container">
        <div class="cadre">
            <div class="row">
                <h1 class="admin_title">Articles of the {{ page.name }}</h1>

            <table>
                <thead>
                    <tr>
                        <th>Name of articles</th>
                        <th>Show</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                {% for article in page.articles %}
                    <tr>
                        <td>
                            {{ article.name }}
                        </td>
                        <td>
                            <a href="{{ path('article_show', { 'id': article.id }) }}">Show</a>
                        </td>
                        <td>
                            <a href="{{ path('article_edit', { 'id': article.id }) }}">Edit</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <thead>
                <tr>
                    <th>Name of texts</th>
                    <th>Show</th>
                    <th>Edit</th>
                </tr>
                </thead>
                <tbody>
                {% for text in page.texts %}
                    <tr>
                        <td>
                            {{ text.name }}
                        </td>
                        <td>
                            <a href="{{ path('text_show', { 'id': text.id }) }}">Show</a>
                        </td>
                        <td>
                            <a href="{{ path('text_edit', { 'id': text.id }) }}">Edit</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <thead>
                <tr>
                    <th>Name of medias</th>
                    <th>Show</th>
                    <th>Edit</th>
                </tr>
                </thead>
                <tbody>
                {% for media in page.medias %}
                    <tr>
                        <td>
                            {{ media.name }}
                        </td>
                        <td>
                            <a href="{{ path('media_show', { 'id': media.id }) }}">Show</a>
                        </td>
                        <td>
                            <a href="{{ path('media_edit', { 'id': media.id }) }}">Edit</a>
                        </td>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="row">
                    <div class="admin_button col m6">
                        <a class="waves-effect waves-light btn" href="{{ path('page_edit', { 'name': page.name }) }}">Modify
                            page</a>
                    </div>
                    <div class="admin_button col m6">
                        <a class="waves-effect waves-light btn" href="{{ path('article_new', { 'name': page.name }) }}">Add
                            Article</a>
                    </div>
                </div>
                <div class="admin_button col m12">
                    <a class="waves-effect waves-light btn" href="{{ path('page_index') }}">Return to pages list</a>
                </div>
            </div>
        </div>
    </body>
{% endblock %}
