{% extends '@Forum/layout.html.twig' %}

{% block body %}
{#-------------------------------------------------------------#}
{# NavBar Lateral  #}
{{ include("@Forum/post/postNavBar.html.twig") }}
{# fin navBar lateral #}
{#-------------------------------------------------------------#}
<section class="postSectionIndex">
  <article class="postArticleIndex">
    <h1 class="center">Liste des catégories du forum</h1>
    {#-------------------------------------------------------------#}
    {# Mise en place message flash #}
    {% for flash_message in app.session.flashBag.get('notice') %}
        <div class="row container">
            <div class="flash-notice center">
                {{ flash_message }}
            </div>
        </div>
      {% endfor %}

        {#-------------------------------------------------------------#}
         {#Mise en place pagination #}
        {#<div class="row center">#}
            {#{{ knp_pagination_render(categoriePlateformes) }}#}
        {#</div>#}

        <div class="wrapperCat">
            {% for categoriePlateforme in categoriePlateformes %}
            <div class="accordionButton waves-effect waves-grey btn-flat">
                <i class="fa fa-list" style="color:#f06292;" aria-hidden="true"></i>
                <span class="spanCat">{{ categoriePlateforme.nom }}</span>
                <a class="waves-effect waves-teal btn-flat center aSousCat"
                   data-position="top" data-delay="50"
                       data-tooltip="Ajouter une sous-catégorie"
                   href="{{ path('categorieplateforme_newSousCat', { 'cat': categoriePlateforme.id }) }}">
                    <i class="fa fa-plus-square-o fa-5x" style="color: #558b2f;" aria-hidden="true"></i>
                </a>
                {% set categorieEnLecture = categoriePlateforme.id %}
            </div>

                <div class="accordionContent">
                    <ul>
                    {% for sousCategorie in sousCategories %}
                    {% if sousCategorie.parent.id == categorieEnLecture %}
                    <li>
                        <span class="spanSousCat">{{ sousCategorie.nom }}</span>
                        <a class="waves-effect waves-teal btn-flat center aSousCat"
                           href="{{ path('categorieplateforme_edit', { 'id': sousCategorie.id }) }}">
                            <i class="fa fa-pencil-square-o fa-3x" aria-hidden="true"></i>
                        </a>
                    </li>
                    {% endif %}
                {% endfor %} {# Fin FOR Sous-categorie #}
                    </ul>
                </div>
            {% endfor %} {# Fin FOR Categorie #}
            <ul>
                <li>
                    <a class="btn-floating btn-large waves-effect waves-light teal lighten-2 tooltipped center indexEntrerFil"
                       data-position="bottom" data-delay="50"
                       data-tooltip="Ajouter une catégorie"
                       href="{{ path('categorieplateforme_newCat') }}">
                       {#<i class="fa fa-plus-square-o fa-2x" aria-hidden="true"></i>#}
                       <i class="material-icons">add</i>
                    </a>
                </li>
            </ul>
        </div>
  </article>
</section>
{% endblock %}

