{% extends '@PlateForme/layout.html.twig' %}

{% block body %}
    <style>

    </style>


    <main>
        <div class="row">
            <div class="col s12 m6 l6">
                <div style="padding: 35px;" align="center" class="card">
                    <div class="row">
                        <div class="card-title">
                            <b>Gestion des utilisateurs</b>
                        </div>
                    {# USER #}
                        <a href="{{ path('user_index') }}">
                            <div style="padding: 30px;" class="grey lighten-3 col s5 waves-effect">
                                <span class="fa-stack fa-5x">
                                    <i class="fa fa-circle fa-stack-2x icon-background4"></i>
                                    <i class="fa fa-address-book-o fa-stack-1x" style="color: #444;"></i>
                                </span>
                                <span class="indigo-text text-lighten-1">Utilisateurs</span>
                            </div>
                        </a>
                        <div class="col s1">&nbsp;</div>

                        <a href="#!">
                            <div style="padding: 30px;" class="grey lighten-3 col s5 waves-effect">
                                <span class="fa-stack fa-5x">
                                    <i class="fa fa-users fa-stack-1x" style="color: #444;"></i>
                                    <i class="fa fa-ban fa-stack-2x" style="color: #B71586"></i>
                                </span>
                                <span class="indigo-text text-lighten-1">Anciens utilisateurs</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            {# FORUM #}
            <div class="col s12 m6 l6">
                <div style="padding: 35px;" align="center" class="card">
                    <div class="row">
                        <div class="card-title">
                            <b>Gestion du forum</b>
                        </div>

                        <a href="{{ path('categorieplateforme_index') }}">
                            <div style="padding: 30px;" class="grey lighten-3 col s5 waves-effect">
                                <span class="fa-stack fa-5x">
                                    <i class="fa fa-circle fa-stack-2x icon-background2"></i>
                                    <i class="fa fa-eyedropper fa-stack-1x" style="color: #444;"></i>
                                </span>
                                <span class="indigo-text text-lighten-1">Sous-catégories</span>
                            </div>
                        </a>

                        <div class="col s1">&nbsp;</div>

                        <a href="{{ path('post_showAllPostDesactive') }}">
                            <div style="padding: 30px;" class="grey lighten-3 col s5 waves-effect">
                                <span class="fa-stack fa-5x">
                                    <i class="fa fa-file-o fa-stack-1x" style="color: #444;"></i>
                                    <i class="fa fa-ban fa-stack-2x" style="color: #8C6822"></i>
                                </span>
                                <span class="indigo-text text-lighten-1">Messages inactifs</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        {# AGENDA #}
        <div class="row">
            <div class="col s12 m6 l6">
                <div style="padding: 35px;" align="center" class="card">
                    <div class="row">
                        <div class="card-title">
                            <b>Gestion de l'agenda</b>
                        </div>
                        <a href="#!">
                            <div style="padding: 30px;" class="grey lighten-3 col s5 waves-effect">
                                <span class="fa-stack fa-5x">
                                    <i class="fa fa-circle fa-stack-2x icon-background3"></i>
                                    <i class="fa fa-calendar-plus-o fa-stack-1x" style="color: #444;"></i>
                                </span>
                                <span class="indigo-text text-lighten-1">Nouvel évènement</span>
                            </div>
                        </a>

                        <div class="col s1">&nbsp;</div>

                        <a href="#!">
                            <div style="padding: 30px;" class="grey lighten-3 col s5 waves-effect">
                                <span class="fa-stack fa-5x">
                                    <i class="fa fa-circle fa-stack-2x icon-background3"></i>
                                    <i class="fa fa-users fa-stack-1x" style="color: #444;"></i>
                                </span>
                                <span class="indigo-text text-lighten-1">Sub Brand</span>
                            </div>
                        </a>


                    </div>
                </div>
            </div>

            {# NEWSLETTERS #}
            <div class="col s12 m6 l6">
                <div style="padding: 35px;" align="center" class="card">
                    <div class="row">
                        <div class="card-title">
                            <b>Gestion des newsletter</b>
                        </div>
                        <a href="{{ path('newsletter_new') }}">
                            <div style="padding: 30px;" class="grey lighten-3 col s5 waves-effect">
                                <span class="fa-stack fa-5x">
                                    <i class="fa fa-circle fa-stack-2x icon-background1"></i>
                                    <i class="fa fa-plus fa-stack-1x" style="color: #444;"></i>
                                </span>
                                <span class="indigo-text text-lighten-1">Nouvelle newsletter</span>
                            </div>
                        </a>
                        <div class="col s1">&nbsp;</div>
                        <a href="{{ path('newsletter_index') }}">
                            <div style="padding: 30px;" class="grey lighten-3 col s5 waves-effect">
                                <span class="fa-stack fa-5x">
                                    <i class="fa fa-circle fa-stack-2x icon-background1"></i>
                                    <i class="fa fa-newspaper-o fa-stack-1x" style="color: #444;"></i>
                                </span>
                                <span class="truncate indigo-text text-lighten-1">Liste des newsletters</span>
                            </div>
                        </a>
                        <div class="row"></div>
                        <a href="{{ path('abonnes_newsletter') }}">
                            <div style="padding: 30px;" class="grey lighten-3 col s5 waves-effect">
                                <span class="fa-stack fa-5x">
                                    <i class="fa fa-circle fa-stack-2x icon-background1"></i>
                                    <i class="fa fa-address-book-o fa-stack-1x" style="color: #444;"></i>
                                </span>
                                <span class="indigo-text text-lighten-1">Abonnés newsletter</span>
                            </div>
                        </a>

                        <div class="col s1">&nbsp;</div>
                        <a href="{{ path('abonnesInactif_newsletter') }}">
                            <div style="padding: 30px;" class="grey lighten-3 col s5 waves-effect">
                                <span class="fa-stack fa-5x">
                                    <i class="fa fa-users fa-stack-1x" style="color: #444;"></i>
                                    <i class="fa fa-ban fa-stack-2x" style="color: #07400A"></i>
                                </span>

                                <span class="indigo-text text-lighten-1">Anciens abonnés</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
