{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div class="container adminmodel">
    <div class="col m8 offset-m2">
        <h1 class="Login">Se connecter</h1>
        <div class="row">

            <form action="{{ path("fos_user_security_check") }}" method="post">
                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                {% endif %}

                <div class="row input-field">
                    <i class="material-icons prefix contactme">account_circle</i>
                    <label for="username">{{ 'security.login.username'|trans }}</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required"/>
                </div>

                <div class="row input-field">
                    <i class="material-icons prefix contactme">vpn_key</i>
                    <label for="password">{{ 'security.login.password'|trans }}</label>
                    <input type="password" id="password" name="_password" required="required"/>
                </div>

                <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>


                <div class="boutons">
                        <button class="btn waves-effect waves-light" type="submit" name="action"
                                value="{{ 'security.login.submit'|trans }}">Se connecter
                            <i class="material-icons right">send</i>
                        </button>

                    <a href="{{ path('plate_forme_homepage') }}">
                        <button class="btn waves-effect waves-light" type="submit" name="action">Retour
                            <i class="material-icons right">send</i>
                        </button>
                    </a>

                </div>
            </form>
        </div>
    </div>
</div>
