{% extends '@Calendar/layout.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col s12 center">
                <h1>Agenda edit</h1>
            </div>
        </div>
    </div>

    {{ form_start(edit_form) }}

    <div class="container center">
        <div class="row">
            <div class="col s12">

                <div id="caledar-new-table">

                    <table class="calendar-table">
                        <tr>
                            <td class="calendar-td calendar-border-topleft">
                                <p class="calendar-p">Titre de l'évènement :</p>
                            </td>
                            <td class="calendar-td-twig calendar-border-topright">
                                {{ form_widget(edit_form.titre) }}
                                {{ form_errors(edit_form.titre) }}
                            </td>
                        </tr>
                        <tr>
                            <td class="calendar-td">
                                <p class="calendar-p">Date et heure de commencement :</p>
                            </td>
                            <td class="calendar-td-twig">
                                <div class="col s12 m4 l4">
                                    {{ form_widget(edit_form.start, { 'id': 'datepicker' }) }}
                                    {{ form_errors(edit_form.start) }}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="calendar-td">
                                <p class="calendar-p">Date et heure de fin :</p>
                            </td>
                            <td class="calendar-td-twig">
                                <div class="col s12 m4 l4">
                                    {{ form_widget(edit_form.end, {'attr': { 'class': 'datepicker' }}) }}
                                    {{ form_errors(edit_form.end) }}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="calendar-td">
                                <p class="calendar-p">Description de l'évènement</p>
                            </td>
                            <td class="calendar-td-twig">
                                {{ form_widget(edit_form.texte) }}
                                {{ form_errors(edit_form.texte) }}
                            </td>
                        </tr>
                        <tr>
                            <td class="calendar-td">
                                <p class="calendar-p">Lieu de l'évènement</p>
                            </td>
                            <td class="calendar-td-twig">
                                {{ form_widget(edit_form.lieu) }}
                                {{ form_errors(edit_form.lieu) }}
                            </td>
                        </tr>
                        <tr>
                            <td class="calendar-td">
                                <p class="calendar-p">Couleur de l'évènement</p>
                            </td>
                            <td class="calendar-td-twig calendar-border-butomright" style="background-color: {{ agenda.color }};">
                                {{ form_widget(edit_form.color , { 'id': 'colorpicker' }) }}
                                {{ form_errors(edit_form.color) }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="calendar-p">Ajouter au slider</p>
                            </td>
                            <td>
                                {{ form_widget(edit_form.slider) }}
                                {{ form_errors(edit_form.slider) }}
                            </td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
    </div>

    <div class="center">
        <button id="bouton-background" type="submit" value=""><i class="material-icons md-48 bouton-edit">create</i></button>

        <a href="{{ path('plate_forme_homepage') }}">
            <i class="material-icons md-48 bouton-retour">fast_rewind</i>
        </a>
    </div>

    {{ form_end(edit_form) }}

{% endblock %}
