{% extends '@Calendar/layout.html.twig' %}

{% block body %}

{#<div id="modalNew" class="modal bottom-sheet">#}
    {#<div class="modal-content">#}

    <h1>Création d'un évènement</h1>

    {{ form_start(form) }}

        <div class="container">
            <div class="row">
                <div class="col s12 m6 l6"></div>
                    <p class="">Titre de l'évènement</p>
                    {{ form_widget(form.titre) }}
                    {{ form_errors(form.titre) }}
                </div>
                <div class="col s12 m6 l6">
                    <p class="">Lieu</p>
                    {{ form_widget(form.lieu) }}
                    {{ form_errors(form.lieu) }}
                </div>

            <div class="row">
                <p class="">Description de l'évènement</p>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    {{ form_widget(form.texte) }}
                    {{ form_errors(form.texte) }}
                </div>
            </div>

            <div class="row">
                <div class="col s12 m6 l6">
                    <p class="">Date de début d'évènement</p>
                    <div class="input-group">
                        {{ form_widget(form.start) }}
                        {{ form_errors(form.start) }}
                    </div>
                </div>
                <div class="col s12 m6 l6">
                    <p class="">Date de fin d'évènement</p>
                    <div class="input-group">
                        {{ form_widget(form.end) }}
                        {{ form_errors(form.end) }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s12 m6 l6">
                <p class="">Couleur</p>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                        {{ form_widget(form.couleur , {'attr': {'placeholder': 'Cliquez'}}) }}
                        {{ form_errors(form.couleur) }}
                    </div>
                </div>

                <div class="col s12 m6 l6">
                    <div class="checkbox">
                        <label>
                            {{ form_widget(form.slider) }} Afficher dans le slider "Home page"
                        </label>
                        {{ form_errors(form.slider) }}
                    </div>
                </div>
            </div>

            <div class="center">
                <input class="btn btn-default edit_admin"  type="submit" value="Créer" />
                <a class="btn btn-default edit_admin"  href="{{ path('agenda_index') }}">Retour au calendrier</a>
            </div>
        </div>

        {{ form_end(form) }}

    {#</div>#}
{#</div>#}

{% endblock %}

