{% extends '@Calendar/layout.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col s12 center">
                <h1>Création d'un évènement</h1>
            </div>
        </div>
    </div>
    {{ form_start(form) }}

    <div class="container center">
        <div class="row">
            <div class="col s12">

                <div id="caledar-new-table">

                    <table class="calendar-table responsive-table">
                        <tr>
                            <td class="calendar-td calendar-border-topleft">
                                <p class="calendar-p">Titre de l'évènement :<span class="asterix">*</span></p>
                            </td>
                            <td class="calendar-td-twig calendar-border-topright">
                                {{ form_widget(form.titre, { 'attr': {'class': 'new-input'} }) }}
                                {{ form_errors(form.titre) }}
                            </td>
                        </tr>
                        <tr>
                            <td class="calendar-td">
                                <p class="calendar-p">Date et heure de commencement :<span class="asterix">*</span></p>
                            </td>
                            <td class="calendar-td-twig">
                                <div class="col s12 m4 l4">
                                    {{ form_widget(form.start) }}
                                    {{ form_errors(form.start) }}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="calendar-td">
                                <p class="calendar-p">Date et heure de fin :<span class="asterix">*</span></p>
                            </td>
                            <td class="calendar-td-twig">
                                <div class="col s12 m4 l4">
                                    {{ form_widget(form.end) }}
                                    {{ form_errors(form.end) }}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="calendar-td">
                                <p class="calendar-p">Description de l'évènement :<span class="asterix">*</span></p>
                            </td>
                            <td class="calendar-td-twig">
                                {{ form_widget(form.texte, { 'id': 'textarea' }) }}
                                {{ form_errors(form.texte) }}
                            </td>
                        </tr>
                        <tr>
                            <td class="calendar-td">
                                <p class="calendar-p">Lieu de l'évènement :<span class="asterix">*</span></p>
                            </td>
                            <td class="calendar-td-twig">
                                {{ form_widget(form.lieu, { 'attr': {'class': 'new-input'} }) }}
                                {{ form_errors(form.lieu) }}
                            </td>
                        </tr>
                        <tr>
                            <td class="calendar-td">
                                <p class="calendar-p">Couleur de l'évènemen :<span class="asterix">*</span></p>
                            </td>
                            <td id="tdcolor" class="calendar-td-twig calendar-border-butomright">
                                {{ form_widget(form.color , { 'id': 'colorpicker' }) }}
                                {{ form_errors(form.color) }}
                            </td>
                        </tr>
                        <tr>
                            <td class="calendar-td">
                                <p class="calendar-p">Ajouter au slider :<span class="asterix">*</span></p>
                            </td>
                            <td class="calendar-td-twig">
                                {{ form_widget(form.slider, { 'id': 'test5' }) }}
                                {{ form_errors(form.slider) }}
                            </td>
                        </tr>
                        <tr class="upload_file_event">
                            <td class="calendar-td">
                                <p class="calendar-p">Ajouter une image (Max : 2Mo) :<span class="asterix">*</span></p>
                            </td>
                            <td id="color" class="calendar-td-twig calendar-border-butomright">
                                {{ form_widget(form.image) }}
                                {{ form_errors(form.image) }}
                            </td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
    </div>

    <div class="center">
        <button id="bouton-background" type="submit" value=""><i class="material-icons md-48 bouton-new">add_circle_outline</i></button>

        <a href="{{ path('plate_forme_homepage') }}">
            <i class="material-icons md-48 bouton-retour">fast_rewind</i>
        </a>
    </div>

        {{ form_end(form) }}

{% endblock %}
