{% extends '@Calendar/layout.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col s12 center">
                <h2 class="soustitrePage">Affichage de l'évènement</h2>
                <h4 class="soustitrePage">{{ agenda.titre }}</h4>
            </div>
        </div>
    </div>

    <div class="container center">
        <div class="row">
            <div class="col s12">

                <div class="calendar-responsive-table">
                    <div class="row calendar-row valign-wrapper">
                        <div class="col s12 m6 l6 calendar-td valign-wrapper">
                            <p class="calendar-p valign">Titre de l'évènement :</p>
                        </div>
                        <div class="col s12 m6 l6">
                            <p>{{ agenda.titre }}</p>
                        </div>
                    </div>
                    <div class="row calendar-row valign-wrapper">
                        <div class="col s12 m6 l6 calendar-td valign-wrapper">
                            <p class="calendar-p valign">Date et heure de début :</p>
                        </div>
                        <div class="col s12 m6 l6">
                            <p>{% if agenda.start %}{{ agenda.start|date('d-m-Y à H:i:s') }}{% endif %}</p>
                        </div>
                    </div>
                    <div class="row calendar-row valign-wrapper">
                        <div class="col s12 m6 l6 calendar-td valign-wrapper">
                            <p class="calendar-p valign">Date et heure de fin :</p>
                        </div>
                        <div class="col s12 m6 l6">
                            <p>{% if agenda.end %}{{ agenda.end|date('d-m-Y à H:i:s') }}{% endif %}</p>
                        </div>
                    </div>
                    <div class="row calendar-row valign-wrapper">
                        <div class="col s12 m6 l6 calendar-td valign-wrapper">
                            <p class="calendar-p valign">Description de l'évènement :</p>
                        </div>
                        <div class="col s12 m6 l6">
                            <p>{{ agenda.texte }}</p>
                        </div>
                    </div>
                    <div class="row calendar-row valign-wrapper">
                        <div class="col s12 m6 l6 calendar-td valign-wrapper">
                            <p class="calendar-p valign">Lieu de l'évènemen :</p>
                        </div>
                        <div class="col s12 m6 l6">
                            <p>{{ agenda.lieu }}</p>
                        </div>
                    </div>
                    <div class="row calendar-row valign-wrapper">
                        <div class="col s12 m6 l6 calendar-td valign-wrapper">
                            <p class="calendar-p valign">Couleur de l'évènement :</p>
                        </div>
                        <div class="col s12 m6 s6 center">
                            <div class="row">
                                <div  style="background-color: {{ agenda.color }};" class="col s12 calendar-div-size valign-wrapper">
                                    <p class="valign center">{{ agenda.color }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row calendar-row valign-wrapper">
                        <div class="col s12 m6 l6 calendar-td valign-wrapper">
                            <p class="calendar-p valign">Ajouter au slider :</p>
                        </div>
                        <div class="col s12 m6 l6">
                            <p class="calendar-p valign">{% if agenda.slider %}Evènement ajouté{% else %}Evènement non ajouté{% endif %}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6 l6 calendar-td valign-wrapper">
                            <p class="calendar-p valign">Image du slider :</p>
                        </div>
                        <div class="col s12 m6 l6 center">
                            <img class="show-image responsive-img" src="{{ asset(agenda.image.path) }}"  alt="{{ agenda.image.alt.translation('fr') }}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6 l6 calendar-td valign-wrapper">
                            <p class="calendar-p valign">lien vers la page :</p>
                        </div>
                        <div class="col s12 m6 l6 center">
                           <a href="{{ agenda.lien }}">{{ agenda.lien }}</a>
                        </div>
                    </div>
                </div>

                <div class="center">
                    <a class="btn-floating btn-large waves-effect waves-light green darken-1 modal-action modal-close"
                       href="{{ path('agenda_edit', { 'id': agenda.id }) }}">
                        <i class="small material-icons">edit</i>
                    </a>

                    <a class="btn-floating btn-large waves-effect waves-light blue darken-1 modal-action modal-close"
                       href="{{ path('plate_forme_homepage') }}">
                        <i class="small material-icons">home</i>
                    </a>
                    <a href="{{ path('agenda_show_all') }}">
                        <button class=" btn-floating btn-large waves-effect tooltipped icon-background6" type="submit" name="action"
                                data-position="bottom"
                                data-delay="50"
                                data-tooltip="Accueil">
                            <i class="material-icons">view_list</i>
                        </button>
                    </a>
                </div>

            </div>
        </div>
    </div>
{% endblock %}