{% extends '@PlateForme/layout.html.twig' %}
{% block body %}

    <div class="container center" id="user_list_model">

        <h2>Liste des évènements</h2>
        <div class="boutons-haut">
            <a href="{{ path('admin_dashboard') }}">
                <button class="user btn-floating btn-large waves-effect tooltipped icon-background6" type="submit" name="action"
                        data-position="bottom"
                        data-delay="50"
                        data-tooltip="Accueil">
                    <i class="material-icons">home</i>
                </button>
            </a>
        </div>

        <table class="responsive-table bordered striped" id="table_id">
            <thead>
            <tr>
                <th>id</th>
                <th>Titre</th>
                <th>Dates</th>
                <th>Contenu</th>
                <th>Slider</th>
            </tr>
            </thead>
            <tbody>
            {% for event in events %}
                <tr>
                    <td>{{ event.id }}</td>
                    <td>{{ event.titre }}</td>
                    <td><div class="row">
                            <div class="col s12">Début : {% if event.start %}{{ event.start|date('d-m-Y à H:i:s') }}{% endif %}</div>
                            <div class="col s12">Fin : {% if event.end %}{{ event.end|date('d-m-Y à H:i:s') }}{% endif %}</div>
                        </div>
                    </td>
                    <td>{{ event.texte }}</td>
                    <td>{% if event.slider %}Evènement ajouté{% else %}Evènement non ajouté{% endif %}</td>

                    <td class="boutons_user">
                        <div class="boutons">
                            <a href="{{ path('agenda_show', { 'id': event.id }) }}">
                                <button class="user btn-floating btn-large waves-effect tooltipped icon-background4" type="submit" name="action"
                                        data-position="bottom"
                                        data-delay="50"
                                        data-tooltip="Afficher">
                                    <i class="material-icons">remove_red_eye</i>
                                </button>
                            </a>
                            <a href="{{ path('agenda_edit', { 'id': event.id }) }}">
                                <button class="user btn-floating btn-large waves-effect tooltipped icon-background4" type="submit" name="action"
                                        data-position="bottom"
                                        data-delay="50"
                                        data-tooltip="Editer">
                                    <i class="material-icons">edit</i>
                                </button>
                            </a>
                            <a href="{{ path('agenda_delete', {'id': event.id})}}">
                                <button class="user btn-floating btn-large waves-effect tooltipped icon-background4" type="submit" name="action"
                                        data-position="bottom"
                                        data-delay="50"
                                        data-tooltip="supprimer">
                                    <i class="material-icons">lock_outline</i>
                                </button>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script>
        $(document).ready( function () {
            $('#table_id').DataTable({
                "dom": '<lf<t>ip>',
                "pageLength": 10,
                "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                "language": {
                    "sProcessing":     "Traitement en cours...",
                    "sSearch":         "Rechercher&nbsp;:",
                    "sLengthMenu":     "Afficher _MENU_ &eacute;l&eacute;ments",
                    "sInfo":           "Affichage de l'&eacute;l&eacute;ment _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                    "sInfoEmpty":      "Affichage de l'&eacute;l&eacute;ment 0 &agrave; 0 sur 0 &eacute;l&eacute;ment",
                    "sInfoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                    "sInfoPostFix":    "",
                    "sLoadingRecords": "Chargement en cours...",
                    "sZeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
                    "sEmptyTable":     "Aucune donn&eacute;e disponible dans le tableau",
                    "oPaginate": {
                        "sFirst":      "Premier",
                        "sPrevious":   "Pr&eacute;c&eacute;dent",
                        "sNext":       "Suivant",
                        "sLast":       "Dernier"
                    },
                    "oAria": {
                        "sSortAscending":  ": activer pour trier la colonne par ordre croissant",
                        "sSortDescending": ": activer pour trier la colonne par ordre d&eacute;croissant"
                    }
                }}
            );
        } );
    </script>

    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>

{% endblock %}