{% extends '@Haras/base.html.twig' %}

{% block materialize %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
{% endblock materialize %}

{% block body %}
<body id="template">
    <header id='_template_header'>
        {{ render(controller('HarasBundle:Page:getPage', { 'name': 'header' })) }}

    </header>

    <div class="container article">
        <div class="row">
            <h1 class="title">Nous contacter</h1>
        </div>
        {{ form_start(form) }}

        <div>
        Votre Email
        {{ form_errors(form.from) }}
        {{ form_widget(form.from) }}
        </div>
        Articles
        {{ form_errors(form.subject) }}
        {{ form_widget(form.subject) }}

        Articles
        {{ form_errors(form.body) }}
        {{ form_widget(form.body) }}

        <input type="submit" value="Send" />
           
        {{ form_end(form) }}
    </div>

    <footer id="_template_footer">
        {{ render(controller('HarasBundle:Page:getPage', { 'name': 'footer' })) }}
    </footer>
{% endblock body %}