{% extends '@Haras/base.html.twig' %}

{% block materialize %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
{% endblock materialize %}

{% block body %}
<body id="template">
    <header id='_template_header'>
        {% include 'HarasBundle::header.html.twig' %}
    </header>

    <h1 class="center">{{ pageTitle }}</h1>
    <div class="container article">
        <div class="row">
            <div class="contact_form col s6">

                {{ form_start(form) }}
                <div>
                <p>{{ contactMail }}</p>
                {{ form_errors(form.from) }}
                {{ form_widget(form.from) }}
                </div>
                <div>
                <p>{{ contactName }}</p>
                {{ form_errors(form.subject) }}
                {{ form_widget(form.subject) }}
                </div>
                <div>
                <p>{{ contactMessage }}</p>
                {{ form_errors(form.body) }}
                {{ form_widget(form.body) }}
                </div>
                <input type="submit" value="{{ sendButton }}" />
            </div>
                {{ form_end(form) }}
        <div class="map-holder col s6">
            <div id="map"></div>
        </div>
        </div>
        {{ form_start(form) }}
            {{ form_widget(form) }}
           <input type="submit" value="Create" />
        {{ form_end(form) }}
    </div>
    {% if send == true %}
        <p>Le formulaire a bien été envoyé</p>
    {% endif %}
    <footer id="_template_footer">
        {% include 'HarasBundle::footer.html.twig' %}
    </footer>

    <script>
        var map;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 49.419292, lng: 2.8311797999999726},
                zoom: 15
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAr10cIoZKJLUnRzAcZQmd9rFNSjRmWLCk&callback=initMap"
            async defer></script>

</body>
{% endblock body %}