	<div class="footer-top wrapper row">
		<div class="footer-left col offset-l1 l6 offset-m1 m6 offset-s1 s6">
			<h1>
				{{ footerTitle1 }}
			</h1>
			<div class="footer-scroll">
				<p>{{ footerContent1 | nl2br }}</p>
			</div>
		</div>
		<div class="footer-right offset-l1 l6 offset-m1 m6 offset-s1 s6">
			<h1>
				{{ footerTitle2 }}
			</h1>
			<div class="footer-scroll">
				<p>{{ footerContent2 | nl2br }}</p>
			</div>

		</div>
	</div>
	<div id="footer-bottom">
		<div id="copyright">
			<p><a href="{{ path('fos_user_security_login') }}">©</a> 2016 Haras de la Métamorphose</p>
		</div>
	</div>
