{% extends '@Haras/base.html.twig' %}

{% block body %}
{% if isVideo == false %}
<body id="_index" background="{{ asset(homepageBackground.path) }}">
    <div id="index_wrapper">
{% else %}
<body id="_index">
    <div id="index_wrapper">
        <video id="index_video" autoplay loop muted>
            <source src="{{ asset(homepageBackground.path) }}" type='video/mp4'>
        </video>
{% endif %}

    <header id='_index_header'>
        {% include 'HarasBundle::header.html.twig' %}
    </header>

    <div id="index_corps">
        <div id="index_contenu">
            <!-- Contenu du div généré avec typed.js -->
            <div id="index_catchPhrase"></div>
            <div id="index_focus">
                <a class="section1Link index_rubrique" href="{{ path('haras_get_page', {'name': 'section1'}) }}">
                    <img class="index_rubrique_img" src="{{ asset('bundles/haras/images/logo.png') }}" alt="tourisme">
                    <p>
                        {{ section1Name }}
                    </p>
                </a>
                <a class="section2Link index_rubrique" href="{{ path('haras_get_page', {'name': 'section2'}) }}">
                    <img class="index_rubrique_img" src="{{ asset('bundles/haras/images/logo.png') }}" alt="travail">
                    <p>
                        {{ section2Name }}
                    </p>
                </a>
                <a class="section3Link index_rubrique" href="{{ path('haras_get_page', {'name': 'section3'}) }}">
                    <img class="index_rubrique_img" src="{{ asset('bundles/haras/images/logo.png') }}" alt="ecologie">
                    <p>
                        {{ section3Name }}
                    </p>
                </a>
                <a class="section4Link index_rubrique" href="{{ path('haras_get_page', {'name': 'section4'}) }}">
                    <img class="index_rubrique_img" src="{{ asset('bundles/haras/images/logo.png') }}" alt="tourisme">
                    <p>
                        {{ section4Name }}
                    </p>
                </a>
            </div>
        </div>
    </div>
    <footer id="_index_footer">
        {% include 'HarasBundle::footer.html.twig' %}
    </footer>
{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    <script>
        // le temps est en ms
        $(function typedFunction(){
            $("#index_catchPhrase").typed({
                strings: ['{{ catchPhrase1 }}', '{{ catchPhrase2 }}'],
                typeSpeed: 150,
                backSpeed: 50,
                backDelay: 5000,
            });
        });
    </script>
{% endblock javascripts %}
