{% extends '@Haras/base.html.twig' %}

{% block body %}
<body id="_index">


<div id="index_wrapper">
    <video id="index_video" autoplay loop muted>
        <source src="{{ asset('bundles/haras/videos/video.mp4') }}" type='video/mp4'>
    </video>

    <header id='_index_header'>
        {{ render(controller('HarasBundle:Page:getPage', { 'name': 'header' })) }}

    </header>

    <div id="index_corps">
        <aside id="index_social">
            <img class="icone-social" src="{{ asset('bundles/haras/images/facebook.svg') }}" alt="Facebook">
            <img class="icone-social" src="{{ asset('bundles/haras/images/twitter.svg') }}" alt="Twitter">
            <img class="icone-social" src="{{ asset('bundles/haras/images/instagram.svg') }}" alt="Instagram">
            <img class="icone-social" src="{{ asset('bundles/haras/images/pinterest.svg') }}" alt="Pinterest">
        </aside>
        <div id="index_contenu">
            <div id="index_accroche">
                <h1>{{ catchPhrase | nl2br }}</h1>
            </div>
            <div id="index_focus">
                <a class="section1Link index_rubrique" href="{{ path('haras_get_page', {'name': 'section1'}) }}">
                    <img class="index_rubrique_img" src="{{ asset('bundles/haras/images/logo.png') }}" alt="tourisme">
                    <p>
                        {{ section1Name }}
                    </p>
                </a>
                <a class="section2Link index_rubrique" href="{{ path('haras_get_page', {'name': 'section2'}) }}">
                    <img class="index_rubrique_img" src="{{ asset('bundles/haras/images/logo.png') }}" alt="travail">
                    <p>
                        {{ section2Name }}
                    </p>
                </a>
                <a class="section3Link index_rubrique" href="{{ path('haras_get_page', {'name': 'section3'}) }}">
                    <img class="index_rubrique_img" src="{{ asset('bundles/haras/images/logo.png') }}" alt="ecologie">
                    <p>
                        {{ section3Name }}
                    </p>
                </a>
                <a class="section4Link index_rubrique" href="{{ path('haras_get_page', {'name': 'section4'}) }}">
                    <img class="index_rubrique_img" src="{{ asset('bundles/haras/images/logo.png') }}" alt="tourisme">
                    <p>
                        {{ section4Name }}
                    </p>
                </a>
            </div>
        </div>
    </div>
    <footer id="_index_footer">
        {{ render(controller('HarasBundle:Page:getPage', { 'name': 'footer' })) }}
    </footer>
{% endblock body %}