{% extends '@Haras/base.html.twig' %}

{% block materialize %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
{% endblock materialize %}

{% block body %}
<body id="template" class="{{ category }}">
    <header id="_template_header">
      {{ render(controller('HarasBundle:Page:getPage', { 'name': 'header' })) }}
    </header>
    <div>
        <h1 class="title">{{ pageTitle }}</h1>
    </div>
    <div class="articles">
        {% for article in articles %}
            <div class="article-block center">
            {% if article.structure.name == 'imageRight' %}
                <table class='imageRight'>
                    <tr>
                        <td>
                            <h2>{{ article.title }}</h2>
                            <p id="text-left">
                                {{ article.content }}
                            </p>
                        </td>
                        <td>
                            <img id="image-right" src="{{ asset(article.medias|first.path) }}" alt="{{ article.medias|first.alt }}"/>
                        </td>
                    </tr>
                </table>
            {% elseif article.structure.name == 'imageLeft' %}
                <table class='imageLeft'>
                    <tr>
                        <td>
                            <img id="image-left" src="{{ asset(article.medias|first.path) }}" alt="{{ article.medias|first.alt }}"/>
                        </td>
                        <td>
                            <h2>{{ article.title }}</h2>
                            <p id="text-right">
                                {{ article.content }}
                            </p>
                        </td>
                    </tr>
                </table>
            {% elseif article.structure.name == 'video' %}
                <div class="video">
                    <video src="{{ asset(article.medias[0].path) }}"></video>
                    <h2>{{ article.title }}</h2>
                    <p id="text-video">
                        {{ article.content }}
                    </p>
                </div>
            {% elseif article.structure.name == 'slider' %}
                <div class="slider carousel carousel-slider data-indicators='true'">
                    {% for image in article.medias %}
                        <div class="carousel-item">
                            <img class="carousel-item" src="{{ asset(image.path) }}" alt="{{ image.alt }}">
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            </div>	<!--	End of article-block    -->
        {% endfor %}
    </div>
    <footer id="_template_footer">
        {{ render(controller('HarasBundle:Page:getPage', { 'name': 'footer' })) }}
    </footer>


{% endblock body %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $('.carousel.carousel-slider').carousel({full_width: true});
        });
    </script>
{% endblock javascripts %}