{% extends '@Calendar/layout.html.twig' %}

{% block body %}

    <div class="container">
        <div class="col s12">
            <div id='calendar'></div>
            <div class="row center">

                {% if is_granted('ROLE_ADMIN') %}

                    <a href="{{ path('agenda_new') }}">
                        <i class="material-icons md-48 bouton-new">add_circle_outline</i>
                    </a>

                {% endif %}
            </div>
        </div>
    </div>

    <!------------------------------- --------------- ------------------------------------->
    <!------------------------------- --------------- ------------------------------------->
    <!------------------------------- MODAL STRUCTURE ------------------------------------->
    <!------------------------------- --------------- ------------------------------------->
    <!------------------------------- --------------- ------------------------------------->
    <div id="fullCalModal" class="modal modal-corps"> <!--- DEBUT DE LA MODAL --><!-- modal-fixed-footer -->

        <div class="modal-content">
            <div class="modal-header">
                <div class="center">
                    <h5 id="modalTitle" class="modal-title"></h5>
                </div>
            </div>

            <div class="modal-body">
                <div class="card horizontal modal-horizontal">
                    <div class="card-image modal-body-image">
                        <h6 id="modalTime" class="modal-body-card"></h6>
                    </div>
                    <div class="card-stacked">
                        <div class="card-content modal-body-text">
                            <p><span id="modalTexte"></span></p>
                        </div>

                    </div>
                </div>
            </div>

        </div>

        {% if is_granted("ROLE_ADMIN") %}
        <div class="modal-footer modal-bouton"> {#----- DEBUT MODAL FOOTER -----#}
            <div class="row right">

                <div class="col s4">
                    <a href="#" id="edit_event">
                        <i class="material-icons md-48 bouton-edit">create</i>
                    </a>
                </div>
                <div class="col s4">
                    <a href="#" id="delete_event">
                        <i class="material-icons md-48 bouton-delete">delete_sweep</i>
                    </a>
                </div>

                {% endif %}

            </div>
        </div> {#---- FIN DU MODAL FOOTER ----#}

    </div> {# ----- FIN DE LA MODAL ----- #}

    <script>
        {% if app.user == null %}
        var roles = null;
        {% else %}
        var roles = {{ app.user.roles|json_encode|raw }};
        {% endif %}
    </script>

{% endblock %}



{% block javascripts %}
    {# FOS JS ROUTING SCRIPT #}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    {# SCRIPT DES ROLES POUR ADMINISTRATION #}
    <script>
        {% if is_granted('ROLE_ADMIN') %}
        var role = 'admin';
        {% else %}
        var role = null;
        {% endif %}
    </script>

    <script src="{{ asset('bundles/calendar/js/calendar/moment.min.js') }}"></script>
    <script src="{{ asset('bundles/calendar/js/calendar/fullcalendar.js') }}"></script>
    <script src="{{ asset('bundles/calendar/js/main_calendar.js') }}"></script>
    <script src="{{ asset('bundles/calendar/js/calendar/calendar-events.js') }}"></script>
{% endblock %}