{% extends '@Calendar/layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/calendar/css/fullcalendar.print.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/calendar/css/fullcalendar.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/calendar/css/calendar_main.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="">
            <a href="{{ path('agenda_new') }}">Nouvelle évènement</a>
        </div>
        <div class="row">
            <div class="col s12"></div>
                <div id='calendar'></div>
            </div>
        </div>
    </div>

    <!-- Modal Structure -->
    <div id="fullCalModal" class="modal modal-fixed-footet">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <a href="{{ path('agenda') }}"><i class="material-icons">close</i> X </a>
                </div>
                <h5 id="modalTitle"></h5>
            </div>
        </div>
        <div class="modal-footer">
            {% if is_granted("ROLE_SUPER_ADMIN") %}
                <a href="#" id="edit_event" class="modal-action modal-close waves-effect waves-green btn-flat">Modifier</a>
                <a href="#" id="delete_event" class="modal-action modal-close waves-effect waves-green btn-flat">Supprimer</a>
            {% endif %}
        </div>
    </div>

    {# ------------------------ MODELE ----------------------------------- #}


    <div id="fullCalModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
                    <h6 style="color:white" id="modalTime" class="modal-title"></h6>
                </div>
                <div class="modal-header">
                    <h6 style="color: white" id="modalTitle" class="modal-title"></h6>
                </div>

                <div style="color:white" id="modalBody" class="modal-body">
                    <p id="text_event"></p>
                    <div id="imgevent"></div>
                </div>
                <div class="modal-footer">
                    {% if is_granted("ROLE_SUPER_ADMIN") %}
                        <a href="#" id="delete_event" class="btn btn-default">Supprimer</a>
                        <a href="#" id="edit_event" class="btn btn-primary">Modifier</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {# --------------------------------------------------------------------- #}

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    {# FOS JS ROUTING SCRIPT #}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script>
        {% if is_granted('ROLE_ADMIN') %}
        var role = 'admin';
        {% elseif is_granted('ROLE_USER') %}
        var role = 'user';
        {% else %}
        var role = null;
        {% endif %}
    </script>

    <script src="{{ asset('bundles/calendar/js/calendar/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('bundles/calendar/js/calendar/moment.min.js') }}"></script>
    <script src="{{ asset('bundles/calendar/js/calendar/fullcalendar.js') }}"></script>
    <script src="{{ asset('bundles/calendar/js/calendar/calendar-events.js') }}"></script>
    <script src="{{ asset('bundles/calendar/js/main_calendar.js') }}"></script>
{% endblock %}

