{% extends 'base.html.twig' %}

{% block body %}
    <h1>Edition du média {{ medium.name }}</h1>

    {{ form_start(edit_form) }}
    <div>
        Nom
        {{ form_errors(edit_form.name) }}
        {{ form_widget(edit_form.name) }}
    </div>
    <div>
        Fichier
        {{ form_errors(edit_form.file) }}
        {{ form_widget(edit_form.file) }}
    </div>
    <div>
        Nom du fichier
        {{ form_errors(edit_form.alt) }}
        {{ form_widget(edit_form.alt) }}
    </div>
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('media_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
