{% extends '@Haras/base.html.twig' %}

{% block materialize %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
{% endblock materialize %}

{% block body %}
    <body id="_admin">
    <nav class="nav">
        <div class="nav-wrapper">
            <ul>
                <li><a href="{{ path('page_index', { 'name': 'homepage' }) }}">Index</a></li>
                <li><a href="{{ path('article_new', { 'name': 'homepage' }) }}">New Article</a></li>
                <li><a href="{{ path('haras_get_page', {'name': 'homepage'}) }}">Homepage</a></li>
                <li><a class="background-color: blue" href="{{ path('fos_user_security_logout') }}">
                        {{ 'Logout'|trans({}, 'FOSUserBundle') }}
                    </a>

                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="cadre">
                <h1 class="admin_title">Medias list</h1>
                <table>
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Path</th>
                        <th>Image</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for medium in media %}
                        <tr>
                            <td>{{ medium.name }}</td>
                            <td>{{ medium.path }}</td>
                            <td><img src="{{ asset(medium.path) }}" alt="{{ medium.alt }}" height=100px></td>
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('media_edit', { 'id': medium.id }) }}">edit</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <ul>
                    <li>
                        <div class="row">
                            <div class="admin_button col m6">
                                <a class="waves-effect waves-light btn" href="{{ path('media_new') }}">Create a new entry</a>
                            </div>

                            <div class="admin_button col m6">
                                <a class="waves-effect waves-light btn" href="{{ path('page_index') }}">Return to pages
                                    list</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </body>
{% endblock %}
