{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des médias</h1>

    <div class="admin_content">
        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Lien</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for medium in media %}
                <tr>
                    <td>{{ medium.name }}</td>
                    <td>{{ medium.path }}</td>
                    <td><img src="{{ asset(medium.path) }}" alt="{{ medium.alt }}" height=100px></td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('media_show', { 'id': medium.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('media_edit', { 'id': medium.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <ul>
        <li>
            <a href="{{ path('media_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
