{% extends '@Haras/base.html.twig' %}


{% block materialize %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <script>
        $(document).ready(function () {
            Materialize.updateTextFields();
            $('select').material_select();
        });
    </script>
{% endblock materialize %}

{% block body %}
    {% include 'HarasBundle::nav_admin.html.twig' %}

    <body id="_admin">
    <div class="container">
        <div class="cadre">
            <div class="row">
                <h1 class="admin_title">Création d'un nouveau média</h1>
                <div class="admin_content">

                                {{ form_start(form) }}
                                <div class="row">
                                    <div class="col m12">
                                        Name
                                        <div class="input-field inline text_area">
                                            {{ form_errors(form.name) }}
                                            {{ form_widget(form.name) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col m12">
                                        file
                                        <div class="input-field inline text_area">
                                            {{ form_errors(form.file) }}
                                            {{ form_widget(form.file) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col m12">
                                        Media description
                                        <div class="input-field inline text_area">
                                            {{ form_errors(form.alt) }}
                                            {{ form_widget(form.alt) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="admin_button col m3">
                                        <a class="waves-effect waves-light btn">
                                            <input type="submit" value="Create"/>
                                            {{ form_end(form) }}
                                        </a>
                                    </div>

                                    <div class="admin_button col m3">
                                        <a class="waves-effect waves-light btn" href="{{ path('text_index') }}">
                                            <input type="submit" value="Texts list">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <p>
                            <input type="submit" value="Enregistrer"/>
                        </p>
                        {{ form_end(form) }}
                    </div>

                </div>
            </div>
        </div>
    </body>
{% endblock %}
