{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ medium.name }}</h1>

    <table>
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ medium.name }}</td>
            </tr>
            <tr>
                <th>Fichier</th>
                <td><img src="{{ asset(medium.path) }}" alt="{{ medium.alt }}"></td>
            </tr>
        </tbody>
    </table>

    <div class="admin_button">
        <a href="{{ path('media_index') }}">
            <input type="submit" value="Liste des médias">
        </a>
    </div>
    <div class="admin_button">
        <a href="{{ path('media_edit', { 'id': medium.id }) }}">
            <input type="submit" value="Editer">
        </a>
    </div>
    <div class="admin_button">
        {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
