
<a class="nav" href="{{ path('haras_homepage') }}"><img id="logo" src="{{ asset('bundles/haras/images/chaval.png') }}" alt="logo"></a>
<div id="menu">
    <ul>
        <li>
            <a class="nav accueil" href="{{ path('haras_homepage') }}">
                {#{{ dump(array_search("NavHome", array_column(page.getTexts(), 'name'))) }}#}
                {#{{ elements['NavHome'] }}#}
                {{ NavHome }}
            </a>
        </li>
        <li>
            <a class="nav tourisme" href="{{ path('haras_template') }}">
                Découvrir
            </a>
        </li>
        <li>
            <a class="nav travail" href="#">
                Votre Haras
            </a>
        </li>
        <li>
            <a class="nav ecologie" href="#">
                Vous détendre
            </a>
        </li>
        <li>
            <a class="nav accessibilite" href="#">
                Co-Working
            </a>
        </li>
        <li>
            <a class="nav contact" href="contact.php">
                Contact
            </a>
        </li>
    </ul>
</div>
<div id="langues">
    <ul>
        <li>
            <a class="fr" href="#">
                Fr
            </a>
        </li>
        <p>|<p>
        <li>
            <a class="en" href="#">
                En
            </a>
        </li>
    </ul>
</div>