
<a class="nav" href="{{ path('haras_homepage') }}"><img id="logo" src="{{ asset('bundles/haras/images/chaval.png') }}" alt="logo"></a>
<div id="menu">
    <ul>
        <li>
            <a class="nav accueil" href="{{ path('haras_homepage') }}">
                {{ navHome }}
            </a>
        </li>
        <li>
            <a class="nav tourisme" href="{{ path('haras_template') }}">
                {{ navSection1 }}
            </a>
        </li>
        <li>
            <a class="nav travail" href="#">
                {{ navSection2 }}
            </a>
        </li>
        <li>
            <a class="nav ecologie" href="#">
                {{ navSection3 }}
            </a>
        </li>
        <li>
            <a class="nav accessibilite" href="#">
                {{ navSection4 }}
            </a>
        </li>
        <li>
            <a class="nav contact" href="contact.php">
                {{ navContact }}
            </a>
        </li>
    </ul>
</div>
<div id="langues">
    <ul>
        <li>
            <a class="fr" href="#">
                Fr
            </a>
        </li>
        <p>|<p>
        <li>
            <a class="en" href="#">
                En
            </a>
        </li>
    </ul>
</div>