{% extends '@Haras/base.html.twig' %}

{% block materialize %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <script>
        $(document).ready(function () {
            Materialize.updateTextFields();
            $('select').material_select();
        });
    </script>
{% endblock materialize %}

{% block body %}
    <body id="_admin">
    <div class="container">
        <div class="cadre">
            <div class="row">

                <h1 class="admin_title">List of articles in the page</h1>

            <table>
                <thead>
                    <tr>
                        <th>Page Name</th>
                        <th>Visualize</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    {% for article in articles %}
                        <tr>
                            <td>{{ article.name }}</td>
                            <td>
                                <a href="{{ path('article_show', { 'id': article.id }) }}">View</a>
                            </td>
                            <td>
                                <a href="{{ path('article_edit', { 'id': article.id }) }}">Edit</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <table>
                <tbody>
                    <div class="row">
                        <div class="admin_button col m6">
                            <a class="waves-effect waves-light btn" href="{{ path('article_select') }}">
                                <input type="submit" value="Add new article">
                            </a>
                        </div>
                        <div class="admin_button col m6">
                            <a class="waves-effect waves-light btn" href="{{ path('page_index') }}">
                            <input type="submit" value="Return to pages list">
                            </a>
                        </div>
                    </div>
                </tbody>
            </table>
        </div>
    </div>
</body>
{% endblock %}
