{% extends 'base.html.twig' %}

{% block body %}
    <h1>Création d'un nouvel article</h1>
    {{ form_start(form) }}
    <div class="admin_content">
        <div>
            Nom de l'article
            {{ form_errors(form.name) }}
            {{ form_widget(form.name) }}
        </div>
        <div>
            Structure de l'article
            {{ form_errors(form.structure) }}
            {{ form_widget(form.structure) }}
        </div>
        <div>
            Page où est situé l'article
            {{ form_errors(form.pages) }}
            {{ form_widget(form.pages) }}
        </div>
        <div>
            Titre du texte :
            {{ form_errors(form.title) }}
            {{ form_widget(form.title) }}
        </div>
        <div>
            Contenu du texte :
            {{ form_errors(form.content) }}
            {{ form_widget(form.content) }}
        </div>
        <div>
            Média :
            {{ form_errors(form.medias) }}
            {{ form_widget(form.medias) }}
        </div>
        <input type="submit" value="Création de l'article" />
    {{ form_end(form) }}
     <div>
        <a href="{{ path('article_index') }}">
            <input type="submit" value="Retourner à la liste des articles">
         <a/>
    </div>
{% endblock %}
