{% extends '@Haras/base.html.twig' %}

{% block materialize %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <script>
        $(document).ready(function () {
            Materialize.updateTextFields();
            $('select').material_select();
        });
    </script>
{% endblock materialize %}

{% block body %}
<body id="_admin">
<div class="container">
    <div class="cadre">
        <div class="row">
            <h1 class="admin_title">Create new article</h1>
            {{ form_start(form) }}
            <div class="row">
                <div class="col s12">
                    Article structure
                    <div class="input-field inline">
                        <select>
                            <option value=
                                    {{ form_errors(form.structure) }}
                                    {{ form_widget(form.structure) }}
                                    </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    Article location
                    <div class="input-field inline">
                        <select>
                            <option value=
                                    {{ form_errors(form.pages) }}
                                    {{ form_widget(form.pages) }}
                                    </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="admin_button col m3">
                <a class="waves-effect waves-light btn">
                    <input type="submit" value="Create article"/>
                </a>
            </div>
            {{ form_end(form) }}
            <ul>
                <li>
                    <div class="admin_button col m3">
                        <a class="waves-effect waves-light btn" href="{{ path('article_index') }}">Return to articles
                            list>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>

{% endblock %}
