{% extends 'base.html.twig' %}

{% block body %}
    <h1>Article {{ article.name }}</h1>

    <table>
        <tr>
            <th>Nom de l'article</th>
            <td>
                {{ article.name }}
            </td>
        </tr>
        <tr>
            <th>Page où il est situé</th>
            {% for page in article.pages %}
            <td>
                {{ page.name }}
            </td>
            </tr>
        {% endfor %}
        <tr>
            <th>Titre du texte</th>
            {% for text in article.title %}
                <td>
                    {{ article.title }}
                </td>
            {% endfor %}
        <tr>
            <th>Contenu du texte</th>
            {% for text in article.content %}#}
                <td>
                    {{ article.content }}
                </td>
            {% endfor %}
        </tr>
        <tr>
            <th>Médias</th>
            {% for medias in article.medias %}
                <tr>
                    <td>
                        {{ medias.name }}
                    </td>
                </tr>
            {% endfor %}
        </tr>
    </table>

    <div class="admin_button">
        <a href="{{ path('article_edit', { 'id': article.id }) }}">
            <input type="submit" value="Modifier cet article">
        </a>
    </div>
    <div class="admin_button">
        <a href="{{ path('article_index') }}">
            <input type="submit" value="Liste des articles">
        </a>
    </div>
    <div class="admin_button">
        {{ form_start(delete_form) }}
            <input type="submit" value="Supprimer l'article">
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
