{% extends '@Haras/base.html.twig' %}

{% block materialize %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <script>
        $(document).ready(function () {
            Materialize.updateTextFields();
            $('select').material_select();
        });
    </script>
{% endblock materialize %}

{% block body %}
    <body id="_admin">
    <div class="container">
        <div class="cadre">
            <div class="row">

                <h1 class="admin_title"> Article {{ article.name }}</h1>

                <table>
                    <tr>
                        <th>Article Name</th>
                        <td>
                            {{ article.name }}
                        </td>
                    </tr>
                    <tr>
                        <th>Article location</th>
                        {% for page in article.pages %}
                        <td>
                            {{ page.name }}
                        </td>
                    </tr>
                    {% endfor %}
                    {% if article.structure.name != 'slider' %}
                        <tr>
                            <th>Text title (French)</th>
                            <td>
                                {{ article.title.textFr }}
                            </td>
                        </tr>
                        <tr>
                            <th>Text title (English)</th>
                            <td>
                                {{ article.title.textEn }}
                            </td>
                        </tr>
                        <tr>
                            <th>Text content (French)</th>
                            <td>
                                {{ article.content.textFr }}
                            </td>
                        </tr>
                        <tr>
                            <th>Text content (English)</th>
                            <td>
                                {{ article.content.textEn }}
                            </td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th>Medias</th>
                        {% for media in article.medias %}
                        <tr>
                            <th>Media description (French)</th>
                            <td> {{ media.alt.textFr }} </td>
                        </tr>
                        <tr>
                            <th>Media description (English)</th>
                            <td> {{ media.alt.textEn }} </td>
                        </tr>
                        <tr>
                            <td><img src="{{ asset(media.path) }}" alt="{{ media.alt }}" height=100px</td>
                        </tr>
                    {% endfor %}
                    </tr>
                </table>
                <div class="row">
                    <div class="admin_button col m4">
                        <a class="waves-effect waves-light btn" href="{{ path('article_edit', { 'id': article.id }) }}">Modify
                            article
                        </a>
                    </div>
                    <div class="admin_button col m4">
                        <a class="waves-effect waves-light btn" href="{{ path('media_new') }}">
                            <input type="submit" value="Add media"/>
                        </a>
                    </div>
                    <div class="admin_button col m4">
                        <a class="waves-effect waves-light btn" href="{{ path('article_index') }}">Return to articles
                            list
                        </a>
                    </div>
                </div>
                <div class="row">
                    {{ form_start(delete_form) }}
                    <div class="admin_button col m12">
                        <input class="waves-effect waves-light btn delete" type="submit" value="Delete">
                        {{ form_end(delete_form) }}
                    </div>
                    </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </body>
{% endblock %}
