{% extends 'base.html.twig' %}

{% block body %}
    <h1>Article {{ article.name }}</h1>

    <table>
        <tbody>
            <thead>
            <tr>
                <th>Nom de l'article</th>
                <td>
                    {{ article.name }}
                </td>
            </tr>
            <tr>
                <th>Page où il est situé</th>
                {% for page in article.pages %}
                <td>
                    {{ page.name }}
                </td>
                </tr>
            {% endfor %}
            <tr>
                <th>Liste des textes</th>
                {% for text in article.title %}
                    <td>
                        {{ article.title }}
                    </td>
                {% endfor %}
            <tr>
                <th>Contenus</th>
                {% for text in article.content %}#}
                <td>
                    {{ article.content }}
                </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('article_edit', { 'id': article.id }) }}">Modifier cet article</a>
        </li>
        <li>
            <a href="{{ path('article_index') }}">Retour à la liste des articles</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
