{% extends '@PlateForme/layout.html.twig' %}

{% block body %}

    <div class="container center" id="user_list_model">
        <h3 class="center">{{ titre }}</h3>
    {% if abonnesForums is empty %}
        <h4 class="center">Pas d'abonnés du forum inscrits à la newsletter</h4>
    {% else %}
        <h3 class="center">{{ titre1 }}</h3>
        <table class="responsive-table bordered striped">
            <thead>
            <tr>
                <th>Pseudo</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            {% for abonnesForum in abonnesForums %}
                <tr>
                    <td>{{ abonnesForum.username|capitalize }}</td>
                    <td>{{ abonnesForum.nom|capitalize }}</td>
                    <td>{{ abonnesForum.prenom|capitalize }}</td>
                    <td>{{ abonnesForum.email }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    </div>

    <div class="container center" id="user_list_model">
    {% if abonnesNLs is empty %}
        <h4 class="center">Pas d'abonnés inscrits à la newsletter</h4>
    {% else %}
    <h3 class="center">{{ titre2 }}</h3>
    <table class="responsive-table bordered striped">
        <thead>
        <tr>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        {% for abonnesNL in abonnesNLs %}
            <tr>
                <td>{{ abonnesNL.email }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
    </div>

    <div class="container">
        <div class="row">
            <div class="col s12 center">
                <a href="{{ path('admin_dashboard') }}">
                    <button class="user btn-floating btn-large waves-effect tooltipped icon-background6" type="submit" name="action"
                            data-position="bottom"
                            data-delay="50"
                            data-tooltip="Accueil">
                        <i class="material-icons">home</i>
                    </button>
                </a>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}

    {{ parent() }}
    {#<script src="{{ asset('bundles/forum/js/aside_forum.js') }}"></script>#}
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>

    <script>
        {#***********************************************#}
        {# Script gestion visuel tableau avec datatables #}
        {#***********************************************#}
        $(document).ready(function() {
            var table = $('#table_NLindex').removeAttr('width').DataTable( {
                "language": { "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json" },
                scrollY:        "400px",
                scrollX:        true,
                scrollCollapse: true,
                paging:         true,
                columnDefs: [
                    { width: 400, targets: 0 },
                    { width: 400, targets: 1 },
                    { width: 50, targets: 2 },
                    { width: 50, targets: 3 },
                    { width: 50, targets: 4 }
                ],
                fixedColumns: true
            } );
        } );


    </script>
{% endblock %}