{% extends '@Haras/base.html.twig' %}

{% block body %} 
    <div id="_admin" class="container"> 
        {% include 'HarasBundle::nav_admin.html.twig' %}
        <div class="cadre"> 
            <div class="row"> 
                <h1 class="admin_title">Text edit for: {{ text.name }}</h1> 
                <div class="admin_content"> 
                {{ form_start(edit_form) }} 
                    <div class="row"> 
                        <div class="col s12">  French text 
                            <div class="input-field inline text_area"> 
                                {{ form_errors(edit_form.textFr) }}
                                 {{ form_widget(edit_form.textFr) }} 
                            </div>
                        </div>
                    </div>
                    <div class="row"> 
                        <div class="col s12"> 
                            <p>English text </p>
                            <div class="input-field inline text_area"> 
                                {{ form_errors(edit_form.textEn) }}
                                 {{ form_widget(edit_form.textEn) }} 
                            </div>
                        </div>
                    </div>
                    <div class="row"> 
                        <div class="admin_button col s12 m6">
                            <div class="waves-effect waves-light btn"> 
                                <input type="submit" value="Valider"> 
                            </div> 
                        </div>
                    </div>
                {{ form_end(edit_form) }} 
                </div>
                <div class="admin_button col s12 m6"> 
                    <a class="waves-effect waves-light btn" href="{{ path('page_show', { 'name' : page.name }) }}"> 
                        <div class="text-white">Back to page {{ page.name }}</div> 
                    </a> 
                </div>
            </div>
        </div>
    </div>
{% endblock %}