{% extends '@Haras/base.html.twig' %}

{% block materialize %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <script>
        $(document).ready(function () {
            Materialize.updateTextFields();
            $('select').material_select();
        });
    </script>
{% endblock materialize %}

{% block body %} 
    <body id="_admin"> 
    <nav class="nav">
        <div class="nav-wrapper">
            <ul>
                <li><a href="{{ path('page_index', { 'name': 'homepage' }) }}">Index</a></li>
                <li><a href="{{ path('article_new', { 'name': 'homepage' }) }}">New Article</a></li>
                <li><a href="{{ path('haras_get_page', {'name': 'homepage'}) }}">Homepage</a></li>
                <li><a class="background-color: blue" href="{{ path('fos_user_security_logout') }}">
                        {{ 'Logout'|trans({}, 'FOSUserBundle') }}
                    </a>

                </li>
            </ul>
        </div>
    </nav>
    <div class="container"> 
        <div class="cadre"> 
            <div class="row">  <h1 class="admin_title">Text edit for: {{ text.name }}</h1> 
                <div class="admin_content">  {{ form_start(edit_form) }} 
                    <div class="row"> 
                        <div class="col s12">  Name 
                            <div class="input-field inline text_area"> 
                                {{ form_errors(edit_form.name) }}
                                  {{ form_widget(edit_form.name) }} 
                                <label for="nom" data-error="wrong" data-success="right"> </label> 
                            </div>
                        </div>
                    </div>
                    <div class="row"> 
                        <div class="col s12">  French text 
                            <div class="input-field inline text_area"> 
                                {{ form_errors(edit_form.textFr) }}
                                 {{ form_widget(edit_form.textFr) }} 
                            </div>
                        </div>
                    </div>
                    <div class="row"> 
                        <div class="col s12">  English text 
                            <div class="input-field inline text_area"> 
                                {{ form_errors(edit_form.textEn) }}
                                 {{ form_widget(edit_form.textEn) }} 
                            </div>
                        </div>
                    </div>
                    <div class="row"> 
                        <div class="admin_button col s12 m6"> 
                            <a class="waves-effect waves-light btn"> 
                                <input type="submit" value="Valider">  {{ form_end(edit_form) }} 
                            </a> 
                        </div>
                        <div class="admin_button col s12 m6" href="{{ path('text_index') }}"> 
                            <a class="waves-effect waves-light btn" > 
                                <input style="color:white" type="submit" value="Texts list"> 
                            </a> 
                        </div>
                    </div>
                    <div class="row"> 
                        <div class="admin_button col m12">
                            <a class="waves-effect waves-light btn delete">
                                <input type="submit" value="Delete article">
                                {{ form_start(delete_form) }} 
                                {{ form_end(delete_form) }} 

                            </a> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body> {% endblock %}