{% extends 'base.html.twig' %}

{% block body %}
    <h1>Création d'un nouveau texte</h1>

    {{ form_start(form) }}
    <div>
        <p>
            Name
        </p>
    </div>
    <div>
        <p>
            Text in French
            {{ form_errors(form.textFr) }}
            {{ form_widget(form.textFr) }}
        </p>
    </div>
    <div>
        <p>
            Text in English
            {{ form_errors(form.textEn) }}
            {{ form_widget(form.textEn) }}
        </p>
    </div>
    <div>
        <p>
            Article
            {% for text in text.articlesTitle %}
                {{ title }}
            {% endfor %}
        </p>
    </div>
    <input type="submit" value="Create" />
    {{ form_end(form) }}

    <div class="admin_button">
            <a href="{{ path('text_index') }}">
                <input type="submit" value="Back to the list">
            </a>
    </div>
{% endblock %}
