{% extends 'base.html.twig' %}

{% block body %}
    <h1>Création d'un nouveau texte</h1>

    {{ form_start(form) }}
    <div>
        Nom
        {{ form_errors(form.name) }}
        {{ form_widget(form.name) }}
    </div>
    <div>
        Texte en Français
        {{ form_errors(form.textFr) }}
        {{ form_widget(form.textFr) }}
    </div>
    <div>
        Texte en Anglais
        {{ form_errors(form.textEn) }}
        {{ form_widget(form.textEn) }}
    </div>
    <div>
        Article lié
        {% for text in text.articlesTitle %}
            {{ title }}
        {% endfor %}
    </div>
    <div>
        {% for page in text.pages %}
            {{ page }}
        {% endfor %}
        Page liée
    </div>
    <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('text_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
