{% extends 'base.html.twig' %}

{% block body %}
    <h1>Visualisation d'un texte</h1>

    <table>
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ text.name }}</td>
            </tr>
            <tr>
                <th>Texte en Français</th>
                <td>{{ text.textFr }}</td>
            </tr>
            <tr>
                <th>Texte en Anglais</th>
                <td>{{ text.textEn }}</td>
            </tr>
        </tbody>
    </table>

    <div class="admin_button">
            <a href="{{ path('text_edit', { 'id': text.id }) }}">
                <input type="submit" value="Modifier le texte">
            </a>
    </div>
    <div class="admin_button">
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer le texte">
            {{ form_end(delete_form) }}
    </div>
    <div class="admin_button">
        <a href="{{ path('text_index') }}">
            <input type="submit" value="Liste des textes">
        </a>
    </div>
{% endblock %}
