{% extends 'base.html.twig' %}

{% block body %}
    <h1>Visualisation d'un texte</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ text.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ text.name }}</td>
            </tr>
            <tr>
                <th>Textfr</th>
                <td>{{ text.textFr }}</td>
            </tr>
            <tr>
                <th>Texten</th>
                <td>{{ text.textEn }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('text_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('text_edit', { 'id': text.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
