<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}PLateforme du Haras de la métamorphose{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('bundles/plateforme/images/icone-cheval.png') }}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

        <!-- Surcharge -->
        <link rel="stylesheet" href="{{ asset('bundles/calendar/css/fullcalendar.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/calendar/css/modal.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/haras/styles/stylesheets/style.css') }}">

        <!-- Icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        {% block stylesheets %}{% endblock %}

    </head>
    <body>
        {% block header %}
        {% endblock %}


        {# ---------------------- ---------------------------- ------------------------ #}
        {# ---------------------- Champ pour recherche par mot ------------------------ #}
        {# ---------------------- à replacer dans la navbarre  ------------------------ #}
        {# ---------------------- ---------------------------- ------------------------ #}
        {% block search %}
            {# ---------------------- Message flash  ------------------------ #}
            {% if app.session.flashBag.has('error') %}
                <div class="alert alert-success">
                    {% for msg in app.session.flashBag.get('error') %}
                        {{ msg }}
                    {% endfor %}
                </div>
            {% endif %}
            {% if app.session.flashBag.has('success') %}
                <div class="alert alert-success">
                    {% for msg in app.session.flashBag.get('success') %}
                        {{ msg }}
                    {% endfor %}
                </div>
            {% endif %}

            {# ---------------------- Champ pour recherche par mot ------------------------ #}
            {# ---------------------- faire l'appel a search controller ------------------ #}
           {#<div class="row barreRecherche">#}
               {#<div class="col s7">#}
                   {#<form action="{{ path('plate_forme_searchController') }}" method="Post">#}
                       {#<div class="input-field">#}
                           {#<input name="requete" id="search" type="search" required>#}
                           {#<label for="search"><i class="material-icons">search</i></label>#}
                           {#<i class="material-icons">close</i>#}
                       {#</div>#}
                       {#<div>#}
                           {#<input type="submit" value="Rechercher">#}
                       {#</div>#}

                   {#</form>#}
               {#</div>#}
           {#</div>#}
        {% endblock %}
        {# ---------------------- ---------------------------- ------------------------ #}

        {% block body %}{% endblock %}

        {% block footer %}{% endblock %}

        {# APPEL DES SCRIPTS JS ORDRE Jquery/Materialize/Calendar/Main(en surcharge) #}
        <script src="{{ asset('bundles/haras/scripts/jquery-3.1.1.js') }}"></script>
        <script src="{{ asset('bundles/haras/scripts/materialize.min.js') }}"></script>
        <script src="{{ asset('bundles/forum/js/main_forum.js') }}"></script>

        {% if (app.request.get('_route') == 'post_index') or (app.request.get('_route') == 'post_edit') or (app.request.get('_route') == 'post_showMesMessages') or (app.request.get('_route') == 'post_showAllPost') or (app.request.get('_route') == 'categorieplateforme_index')  or (app.request.get('_route') == 'post_new') or (app.request.get('_route') == 'post_newParent') or (app.request.get('_route') == 'categorieplateforme_edit')  %}
            {#Si controleur envoi vers les pages post index, show all post et categorie plateforme#}
            {#la barre de navigation est différente cf postNavBar#}
            <script src="{{ asset('bundles/forum/js/aside_forum.js') }}"></script>
        {% endif %}


        {# APPEL DES JS DE FULLCALENDAR ET AUTRES PAGES #}
        {% block javascripts %}{% endblock %}

    </body>
</html>

