{% extends '@PlateForme/layout.html.twig' %}

{% block body %}

    <p>VOS GUEULES .... SANS MOI VOUS TENEZ PAS !!!</p><br>


    <div class="profil">

            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_profile_show') }}">Voir mon profil</a>
            {% else %}
                <a href="{{ path('fos_user_registration_register') }}">Créer un compte</a><br>
            {% endif %}

        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {#{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |#}
            <a href="{{ path('fos_user_security_logout') }}"> | Se deconnecter</a><br>
        {% else %}
            <a href="{{ path('fos_user_security_login') }}">Se connecter</a>
        {% endif %}
    </div><br>

    <a href="{{ path('agenda') }}">MON CALENDRIER</a>

{% endblock %}