{% extends '@Calendar/layout.html.twig' %}

{% block body %}

    {# ---------------------- !FAIRE LA RECUP DES DONNEES DU SEARCH CONTROLLER ET LES AFFICHER! -------------------- #}

    <div class="container">
        <div class="row">
            <div class="col s12">
                <h3 class="center">Résultats de votre recherche.</h3>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col s12">

                <table>
                    <theader>
                        <tr>
                            <td>Catégorie du post</td>
                            <td>Titre du post</td>
                            <td>Contenu du post</td>
                        </tr>
                    </theader>
                    <tbody>
                    {% for resultats in resultat %}
                        <tr>
                            <td><a href="{{ path('#') }}">{{ resultats.titre }}</a></td> <!-- replacer par {#{{ resultats.nom }}#}  -->
                            <td><a href="{{ path('#') }}">{{ resultats.titre }}</a></td>
                            <td><a href="{{ path('#') }}">{{ resultats.titre }}</a></td> <!-- replacer par {#{{ resultats.contenu }}#}  -->
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>


{% endblock %}
