{% extends '@Calendar/layout.html.twig' %}

{% block body %}

    {# ---------------------- !FAIRE LA RECUP DES DONNEES DU SEARCH CONTROLLER ET LES AFFICHER! -------------------- #}

    <div class="container">
        <div class="row">
            <div class="col s12">
                <h3 class="center">Résultats de votre recherche.</h3>

                {% if app.session.flashBag.has('error') %}
                    <div class="alert alert-success">
                        {% for msg in app.session.flashBag.get('error') %}
                            {{ msg }}
                        {% endfor %}
                    </div>
                {% endif %}
                {% if app.session.flashBag.has('success') %}
                    <div class="alert alert-success">
                        {% for msg in app.session.flashBag.get('success') %}
                            {{ msg }}
                        {% endfor %}
                    </div>
                {% endif %}

            </div>
        </div>
    </div>

    <div class="container">

        <div class="row">
            <div class="col s12">

                <table class="calendar-table responsive-table bordered striped" id="table_id">
                    <thead>

                        <th class="calendar-search-td calendar-border-topleft">
                            <p class="calendar-p center">
                                Catégorie du post
                            </p>
                        </th>
                        <th class="calendar-search-td">
                            <p class="calendar-p center">
                                Titre du post
                            </p>
                        </th>
                        <th class="calendar-search-td calendar-border-topright">
                            <p class="calendar-p center">
                                Contenu du post
                            </p>
                        </th>
                        <th>
                            <p class=" center">
                                Posté le :
                            </p>
                        </th>

                    </thead>
                    <tbody>

                    {% for resultat in resultats %}

                        <tr class="collection">
                            <td class="calendar-td-twig center">
                                {{ resultat.nom}}
                            </td>
                            <td class="calendar-td-twig center">

                                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MODERATEUR') or is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                                    <a href="{{ path('post_showAllPost', { id: resultat.id }) }} " class="collection-item">
                                        {{ resultat.titre }}
                                    </a>

                                {% else %}

                                <p>
                                    {{ resultat.titre }}
                                </p>

                                {% endif %}

                            </td>
                            <td class="calendar-td-twig ombre">
                                {{ resultat.contenu|raw }}
                            </td>
                            <td class="calendar-td-twig center">
                                {{ resultat.dateCreate|date("d/m/Y") }}
                            </td>
                        </tr>

                    {% endfor %}

                    </tbody>
                </table>

            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/calendar/js/jquery.dataTables.min.js') }}"></script>
{% endblock %}
